# Install Taipy

To install Taipy, just `pip install` it.

In [1]:
pip install taipy

Requirement already satisfied: taipy in c:\users\jacta\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: taipy-rest<1.2,>=1.1 in c:\users\jacta\anaconda3\lib\site-packages (from taipy) (1.1.1)
Requirement already satisfied: taipy-gui<1.2,>=1.1 in c:\users\jacta\anaconda3\lib\site-packages (from taipy) (1.1.1)
Requirement already satisfied: flask<3.0,>=2.1 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (2.1.1)
Requirement already satisfied: pytz<2022.2,>=2021.3 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (2022.1)
Requirement already satisfied: tzlocal<5.0,>=3.0 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (4.2)
Requirement already satisfied: pandas<2.0,>=1.3.4 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (1.4.2)
Requirement already satisfied: flask-talisman<2.0,>=1.0 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (1.0.0)
Requirement already satisfied: backports.zoneinfo<0.3,>=0.2.1 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (0.2.1)
Requirement already satisfied: flask-cors<4.0,>=3.0.10 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (3.0.10)
Requirement already satisfied: simple-websocket<0.6,>=0.3 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (0.5.1)
Requirement already satisfied: python-dotenv<0.21,>=0.19 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (0.20.0)
Requirement already satisfied: flask-socketio<6.0,>=5.1.1 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (5.1.1)
Requirement already satisfied: markdown<4.0,>=3.3.4 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (3.3.4)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\jacta\anaconda3\lib\site-packages (from flask<3.0,>=2.1->taipy-gui<1.2,>=1.1->taipy) (2.1.2)
Requirement already satisfied: importlib-metadata>=3.6.0 in c:\users\jacta\anaconda3\lib\site-packages (from flask<3.0,>=2.1->taipy-gui<1.2,>=1.1->taipy) (3.10.0)
Requirement already satisfied: Werkzeug>=2.0 in c:\users\jacta\anaconda3\lib\site-packages (from flask<3.0,>=2.1->taipy-gui<1.2,>=1.1->taipy) (2.0.0)
Requirement already satisfied: Jinja2>=3.0 in c:\users\jacta\anaconda3\lib\site-packages (from flask<3.0,>=2.1->taipy-gui<1.2,>=1.1->taipy) (3.1.1)
Requirement already satisfied: click>=8.0 in c:\users\jacta\anaconda3\lib\site-packages (from flask<3.0,>=2.1->taipy-gui<1.2,>=1.1->taipy) (8.1.2)
Requirement already satisfied: colorama in c:\users\jacta\anaconda3\lib\site-packages (from click>=8.0->flask<3.0,>=2.1->taipy-gui<1.2,>=1.1->taipy) (0.4.4)
Requirement already satisfied: Six in c:\users\jacta\anaconda3\lib\site-packages (from flask-cors<4.0,>=3.0.10->taipy-gui<1.2,>=1.1->taipy) (1.15.0)
Requirement already satisfied: python-socketio>=5.0.2 in c:\users\jacta\anaconda3\lib\site-packages (from flask-socketio<6.0,>=5.1.1->taipy-gui<1.2,>=1.1->taipy) (5.5.2)
Requirement already satisfied: zipp>=0.5 in c:\users\jacta\anaconda3\lib\site-packages (from importlib-metadata>=3.6.0->flask<3.0,>=2.1->taipy-gui<1.2,>=1.1->taipy) (3.4.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\jacta\anaconda3\lib\site-packages (from Jinja2>=3.0->flask<3.0,>=2.1->taipy-gui<1.2,>=1.1->taipy) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jacta\anaconda3\lib\site-packages (from pandas<2.0,>=1.3.4->taipy-gui<1.2,>=1.1->taipy) (2.8.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\jacta\anaconda3\lib\site-packages (from pandas<2.0,>=1.3.4->taipy-gui<1.2,>=1.1->taipy) (1.21.0)
Requirement already satisfied: bidict>=0.21.0 in c:\users\jacta\anaconda3\lib\site-packages (from python-socketio>=5.0.2->flask-socketio<6.0,>=5.1.1->taipy-gui<1.2,>=1.1->taipy) (0.22.0)
Requirement already satisfied: python-engineio>=4.3.0 in c:\users\jacta\anaconda3\lib\site-packages (from python-socketio>=5.0.2->flask-socketio<6.0,>=5.1.1->taipy-gui<1.2,>=1.1->taipy) (4.3.1)
Requirement already satisfied: wsproto in c:\users\jacta\anaconda3\lib\site-packages (from simple-websocket<0.6,>=0.3->taipy-gui<1.2,>=1.1->taipy) (1.1.0)
Requirement already satisfied: taipy-core<1.2,>=1.1 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (1.1.2)
Requirement already satisfied: marshmallow-sqlalchemy<0.29,>=0.25 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (0.28.0)
Requirement already satisfied: flask-migrate<4.0,>=3.1 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (3.1.0)
Requirement already satisfied: flask-jwt-extended<5.0,>=4.3 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (4.3.1)
Requirement already satisfied: passlib<1.8,>=1.7.4 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (1.7.4)
Requirement already satisfied: apispec-webframeworks<0.6,>=0.5.2 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (0.5.2)
Requirement already satisfied: apispec[yaml]<6.0,>=5.1 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (5.1.1)
Requirement already satisfied: flask-restful<0.4,>=0.3.9 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (0.3.9)
Requirement already satisfied: flask-marshmallow<0.15,>=0.14 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (0.14.0)
Requirement already satisfied: PyYAML>=3.10 in c:\users\jacta\anaconda3\lib\site-packages (from apispec[yaml]<6.0,>=5.1->taipy-rest<1.2,>=1.1->taipy) (5.4.1)
Requirement already satisfied: PyJWT<3.0,>=2.0 in c:\users\jacta\anaconda3\lib\site-packages (from flask-jwt-extended<5.0,>=4.3->taipy-rest<1.2,>=1.1->taipy) (2.1.0)
Requirement already satisfied: marshmallow>=2.0.0 in c:\users\jacta\anaconda3\lib\site-packages (from flask-marshmallow<0.15,>=0.14->taipy-rest<1.2,>=1.1->taipy) (3.15.0)
Requirement already satisfied: alembic>=0.7 in c:\users\jacta\anaconda3\lib\site-packages (from flask-migrate<4.0,>=3.1->taipy-rest<1.2,>=1.1->taipy) (1.7.7)
Requirement already satisfied: Flask-SQLAlchemy>=1.0 in c:\users\jacta\anaconda3\lib\site-packages (from flask-migrate<4.0,>=3.1->taipy-rest<1.2,>=1.1->taipy) (2.5.1)
Requirement already satisfied: SQLAlchemy>=1.3.0 in c:\users\jacta\anaconda3\lib\site-packages (from alembic>=0.7->flask-migrate<4.0,>=3.1->taipy-rest<1.2,>=1.1->taipy) (1.4.35)
Requirement already satisfied: importlib-resources in c:\users\jacta\anaconda3\lib\site-packages (from alembic>=0.7->flask-migrate<4.0,>=3.1->taipy-rest<1.2,>=1.1->taipy) (5.6.0)
Requirement already satisfied: Mako in c:\users\jacta\anaconda3\lib\site-packages (from alembic>=0.7->flask-migrate<4.0,>=3.1->taipy-rest<1.2,>=1.1->taipy) (1.2.0)
Requirement already satisfied: aniso8601>=0.82 in c:\users\jacta\anaconda3\lib\site-packages (from flask-restful<0.4,>=0.3.9->taipy-rest<1.2,>=1.1->taipy) (9.0.1)
Requirement already satisfied: packaging in c:\users\jacta\anaconda3\lib\site-packages (from marshmallow>=2.0.0->flask-marshmallow<0.15,>=0.14->taipy-rest<1.2,>=1.1->taipy) (21.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jacta\anaconda3\lib\site-packages (from SQLAlchemy>=1.3.0->alembic>=0.7->flask-migrate<4.0,>=3.1->taipy-rest<1.2,>=1.1->taipy) (1.1.2)
Requirement already satisfied: openpyxl<4.0,>=3.0.3 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-core<1.2,>=1.1->taipy-rest<1.2,>=1.1->taipy) (3.0.9)
Requirement already satisfied: toml<0.11,>=0.10 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-core<1.2,>=1.1->taipy-rest<1.2,>=1.1->taipy) (0.10.2)
Requirement already satisfied: networkx<3.0,>=2.6 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-core<1.2,>=1.1->taipy-rest<1.2,>=1.1->taipy) (2.7.1)
Requirement already satisfied: et-xmlfile in c:\users\jacta\anaconda3\lib\site-packages (from openpyxl<4.0,>=3.0.3->taipy-core<1.2,>=1.1->taipy-rest<1.2,>=1.1->taipy) (1.1.0)
Requirement already satisfied: pytz-deprecation-shim in c:\users\jacta\anaconda3\lib\site-packages (from tzlocal<5.0,>=3.0->taipy-gui<1.2,>=1.1->taipy) (0.1.0.post0)
Requirement already satisfied: tzdata in c:\users\jacta\anaconda3\lib\site-packages (from tzlocal<5.0,>=3.0->taipy-gui<1.2,>=1.1->taipy) (2022.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\jacta\anaconda3\lib\site-packages (from packaging->marshmallow>=2.0.0->flask-marshmallow<0.15,>=0.14->taipy-rest<1.2,>=1.1->taipy) (2.4.7)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\jacta\anaconda3\lib\site-packages (from wsproto->simple-websocket<0.6,>=0.3->taipy-gui<1.2,>=1.1->taipy) (0.13.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pmdarima

Requirement already satisfied: pmdarima in c:\users\jacta\anaconda3\lib\site-packages (1.8.5)
Requirement already satisfied: scikit-learn>=0.22 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (1.0.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (1.7.1)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (52.0.0.post20210125)
Requirement already satisfied: pandas>=0.19 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (1.4.2)
Requirement already satisfied: urllib3 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (1.26.4)
Requirement already satisfied: numpy>=1.19.3 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (1.21.0)
Requirement already satisfied: joblib>=0.11 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (1.1.0)
Requirement already satisfied: Cython!=0.29.18,>=0.29 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (0.29.30)
Requirement already satisfied: statsmodels!=0.12.0,>=0.11 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (0.13.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jacta\anaconda3\lib\site-packages (from pandas>=0.19->pmdarima) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jacta\anaconda3\lib\site-packages (from pandas>=0.19->pmdarima) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\jacta\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.19->pmdarima) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\jacta\anaconda3\lib\site-packages (from scikit-learn>=0.22->pmdarima) (3.1.0)
Requirement already satisfied: packaging>=21.3 in c:\users\jacta\anaconda3\lib\site-packages (from statsmodels!=0.12.0,>=0.11->pmdarima) (21.3)
Requirement already satisfied: patsy>=0.5.2 in c:\users\jacta\anaconda3\lib\site-packages (from statsmodels!=0.12.0,>=0.11->pmdarima) (0.5.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\jacta\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels!=0.12.0,>=0.11->pmdarima) (2.4.7)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install requests

Requirement already satisfied: requests in c:\users\jacta\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\jacta\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jacta\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\jacta\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jacta\anaconda3\lib\site-packages (from requests) (2021.10.8)
Note: you may need to restart the kernel to use updated packages.

# Import the packages et initialization

In [4]:
from taipy.gui import Gui, Markdown, notify
from taipy import Config
import taipy as tp

import datetime as dt

from pmdarima import auto_arima

import pandas as pd
import numpy as np

import requests

In [5]:
from pandas.core.common import SettingWithCopyWarning
import warnings

warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

data_country_date = None
selected_country = None

selected_scenario = None
scenario_selector = None

first_date = None

scenario_name = None

result = None

selected_points = []

data_province_displayed = None

api_year = None
api_pop = None
api_country = None

# Taipy Gui Basics
## Markdown Syntax

Taipy uses the Markdown syntax to display elements. `#` creates a title, `*` puts your text in italics and `**` puts it in bold.

![](img/gui_basic.png)

In [6]:
page_md = """
# Taipy

Test **here** to put some *markdown*

Click to access the [doc](https://docs.taipy.io/en/latest/)
"""

In [7]:
page = Markdown(page_md)

gui = Gui(page=page)
gui.run(dark_mode=False,  port=8000)

 * Server starting on http://127.0.0.1:8000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## Visual elements
Create different visual elements. The syntax is always the same for each visual element.  `<|{value}|name_of_visual_element|property_1=value_of_property_1|...|>`
- Create a [slider](https://docs.taipy.io/en/latest/manuals/gui/viselements/slider/) `<|{value}|slider|>`

- Create a [date](https://docs.taipy.io/en/latest/manuals/gui/viselements/date/) `<|{value}|date|>`

- Create a [selector](https://docs.taipy.io/en/latest/manuals/gui/viselements/selector/) `<|{value}|selector|lov={list_of_values}|>`

![](img/control.png)

In [8]:
slider_value = 0
date_value = None
selected_value = None

In [9]:
selector = ['Test 1', 'Test 2', 'Test 3']

control_md = """
## Controls

<|{slider_value}|slider|> <|{slider_value}|>

<|{date_value}|date|> <|{date_value}|>

<|{selected_value}|selector|lov={selector}|>  <|{selected_value}|>
"""

In [10]:
gui.stop()
page.set_content(control_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:8000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## Data Viz

A dataset gathering information on the number of deaths, confirmed cases and recovered for different regions is going to be used to create an interactive Dashboard.

In [11]:
path_to_data = "data/covid-19-all.csv"
data = pd.read_csv(path_to_data, low_memory=False)
data[-5:]

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date
1241947,Vietnam,NaN,14.058324,108.277199,1465.0,1325.0,35.0,2020-12-31
1241948,West Bank and Gaza,NaN,31.952200,35.233200,138004.0,117183.0,1400.0,2020-12-31
1241949,Yemen,NaN,15.552727,48.516388,2099.0,1394.0,610.0,2020-12-31
1241950,Zambia,NaN,-13.133897,27.849332,20725.0,18660.0,388.0,2020-12-31
1241951,Zimbabwe,NaN,-19.015438,29.154857,13867.0,11250.0,363.0,2020-12-31

In [12]:
def initialize_case_evolution(data, selected_country='France'):
    # Aggregation of the dataframe per Country/Region
    data_country_date = data.groupby(["Country/Region",'Date'])\
                            .sum()\
                            .reset_index()
    
    # a country is selected, here France by default
    data_country_date = data_country_date.loc[data_country_date['Country/Region']==selected_country]
    return data_country_date

In [13]:
data_country_date = initialize_case_evolution(data)
data_country_date.head()

,Country/Region,Date,Latitude,Longitude,Confirmed,Recovered,Deaths
18101,France,2020-01-24,14.6415,-56.3159,2.0,0.0,0.0
18102,France,2020-01-25,14.6415,-56.3159,3.0,0.0,0.0
18103,France,2020-01-26,14.6415,-56.3159,3.0,0.0,0.0
18104,France,2020-01-27,14.6415,-56.3159,3.0,0.0,0.0
18105,France,2020-01-28,14.6415,-56.3159,4.0,0.0,0.0

Create a [chart](https://docs.taipy.io/en/latest/manuals/gui/viselements/chart/) showing the evolution of Deaths in France (_Deaths_ for _y_ and _Date_ for _x_). The visual element (chart) has the same syntax as the other ones with specific properties (_x_, _y_, _type_ for example). Here are some [examples of charts](https://docs.taipy.io/en/release-1.1/manuals/gui/viselements/charts/bar/). The _x_ and _y_ porperties only needs the name of the dataframe columns to display.

![](img/simple_graph.png)

In [14]:
country_md = "<|{data_country_date}|chart|x=Date|y=Deaths|type=bar|>"

In [15]:
gui.stop()
page.set_content(country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:8000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## Add new traces

- Add on the graph the number of Confirmed and Recovered cases (_Confirmed_ and _Recovered_) with the number of Deaths
- _y_ (and _x_) can be indexed this way to add more traces (`y[1]=`, `y[2]=`, `y[3]=`).

![](img/multi_traces.png)

In [16]:
country_md = "<|{data_country_date}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|>"

In [17]:
gui.stop()
page.set_content(country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:8000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## Style the graph with personnalized properties
The _layout_ dictionnary specifies how bars should be displayed. They would be 'stacked'.

The _options_ dictionary will change the opacity of the unselected markers.

These are Plotly properties.

![](img/stack_chart.png)

In [18]:
layout = {'barmode':'stack'}
options = {"unselected":{"marker":{"opacity":0.5}}}
country_md = "<|{data_country_date}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|layout={layout}|options={options}|>"

In [19]:
gui.stop()
page.set_content(country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:8000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## Add texts that sums up the data

Use the [text](https://docs.taipy.io/en/latest/manuals/gui/viselements/text/) visual element.

- Add the total number of Deaths (last line of _data_country_date_)
- Add the total number of Recovered (last line of _data_country_date_)
- Add the total number of Confirmed (last line of _data_country_date_)

In [20]:
data_country_date

,Country/Region,Date,Latitude,Longitude,Confirmed,Recovered,Deaths
18101,France,2020-01-24,14.641500,-56.315900,2.0,0.0,0.0
18102,France,2020-01-25,14.641500,-56.315900,3.0,0.0,0.0
18103,France,2020-01-26,14.641500,-56.315900,3.0,0.0,0.0
18104,France,2020-01-27,14.641500,-56.315900,3.0,0.0,0.0
18105,France,2020-01-28,14.641500,-56.315900,4.0,0.0,0.0
...,...,...,...,...,...,...,...
18439,France,2020-12-27,91.463495,-238.646914,2616510.0,195861.0,62867.0
18440,France,2020-12-28,91.463495,-238.646914,2619616.0,196642.0,63235.0
18441,France,2020-12-29,91.463495,-238.646914,2631110.0,197726.0,64204.0
18442,France,2020-12-30,91.463495,-238.646914,2657624.0,198966.0,64508.0
18443,France,2020-12-31,91.463495,-238.646914,2677666.0,200142.0,64759.0

This is how we can get the total number of Deaths from the daatset for France.

In [21]:
data_country_date.iloc[-1, 6] # gives the number of deaths for France (5 is for recovered and 4 is confirmed)

64759.0

Use the [text](https://docs.taipy.io/en/release-1.1/manuals/gui/viselements/text/) visual element. Note that between `{}`, any Python variable can be put but also any Python code.

![](img/control_text.png)

In [22]:
country_md = """
## Deaths <|{data_country_date.iloc[-1, 6]}|text|>

## Recovered <|{data_country_date.iloc[-1, 5]}|text|>

## Confirmed <|{data_country_date.iloc[-1, 4]}|text|>

<|{data_country_date}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|layout={layout}|options={options}|>
"""

In [23]:
gui.stop()
page.set_content(country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:8000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## Local _on_change_

- Add a [selector](https://docs.taipy.io/en/latest/manuals/gui/viselements/selector/) with `dropdown=True` containing the name of all the _Country/region_
- Give to the _on_change_ selector property the name of the _on_change_country_ function. This function will be called when the selector will be used.
- This function has a 'state' parameter and has to be completed. When the selector is used, this function is called with the _state_ argument. It contains all the Gui variables; 'state.data_country_date' is then the dataframe used in the Gui.

![](img/on_change_local.png)

In [24]:
selector_country = list(data['Country/Region'].astype(str).unique())
selected_country = 'France'

country_md = """
<|{selected_country}|selector|lov={selector_country}|on_change=on_change_country|dropdown|label=Country|>

## Deaths <|{data_country_date.iloc[-1, 6]}|>

## Recovered <|{data_country_date.iloc[-1, 5]}|>

## Confirmed <|{data_country_date.iloc[-1, 4]}|>

<|{data_country_date}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|layout={layout}|options={options}|>
"""

In [25]:
def on_change_country(state):
    # state contains all the Gui variables and this is through this state variable that we can update the Gui
    # state.selected_country, state.data_country_date, ...
    # update data_country_date with the right country (use initialize_case_evolution)
    print("Chosen country: ", state.selected_country)
    state.data_country_date = initialize_case_evolution(data, state.selected_country)

In [26]:
gui.stop()
page.set_content(country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:8000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## Layout

Use the [layout](https://docs.taipy.io/en/latest/manuals/gui/viselements/layout/) block to change the page structure. This block creates invisible columns to put text/visual elements in.

Syntax :
```
<|layout|columns=1 1 1 ...|
(first column)

(in second column)

(third column)
(again, third column)

(...)
|>
```

In [27]:
final_country_md = """
<|layout|columns=1 1 1 1|
<|{selected_country}|selector|lov={selector_country}|on_change=on_change_country|dropdown|label=Country|>

## Deaths <|{data_country_date.iloc[-1, 6]}|>

## Recovered <|{data_country_date.iloc[-1, 5]}|>

## Confirmed <|{data_country_date.iloc[-1, 4]}|>
|>

<|{data_country_date}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|layout={layout}|options={options}|>
"""

In [28]:
gui.stop()
page.set_content(final_country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:8000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

![](img/layout.png)

# Map

In [29]:
def initialize_map(data):
    data['Province/State'] = data['Province/State'].fillna(data["Country/Region"])
    data_province = data.groupby(["Country/Region",
                                  'Province/State',
                                  'Longitude',
                                  'Latitude'])\
                         .max()

    data_province_displayed = data_province[data_province['Deaths']>10].reset_index()

    data_province_displayed['Size'] = np.sqrt(data_province_displayed.loc[:,'Deaths']/data_province_displayed.loc[:,'Deaths'].max())*80 + 3
    data_province_displayed['Text'] = data_province_displayed.loc[:,'Deaths'].astype(str) + ' deaths </br> ' + data_province_displayed.loc[:,'Province/State']
    return data_province_displayed

In [30]:
data_province_displayed = initialize_map(data)
data_province_displayed.head()

,Country/Region,Province/State,Longitude,Latitude,Confirmed,Recovered,Deaths,Date,Size,Text
0,Afghanistan,Afghanistan,67.709953,33.93911,51526.0,41727.0,2191.0,2020-12-31,17.771247,2191.0 deaths </br> Afghanistan
1,Albania,Albania,20.168300,41.15330,58316.0,33634.0,1181.0,2020-12-31,13.844784,1181.0 deaths </br> Albania
2,Algeria,Algeria,1.659600,28.03390,99610.0,67127.0,2756.0,2020-12-31,19.566684,2756.0 deaths </br> Algeria
3,Andorra,Andorra,1.521800,42.50630,8049.0,7432.0,84.0,2020-12-31,5.892249,84.0 deaths </br> Andorra
4,Angola,Angola,17.873900,-11.20270,17553.0,11044.0,405.0,2020-12-31,9.350728,405.0 deaths </br> Angola

Properties to style the map
- marker color corresponds to the number of Deaths (column _Deaths_)
- marker sizes corresponds to the size in _Size_ column which is created from the number of Deaths

layout_map permet defined the initial zoom and position of the map

In [31]:
marker_map = {"color":"Deaths", "size": "Size", "showscale":True, "colorscale":"Viridis"}
layout_map = {
            "dragmode": "zoom",
            "mapbox": { "style": "open-street-map", "center": { "lat": 38, "lon": -90 }, "zoom": 3}
            }

We give to Plotly:
- a map type
- the name of the latitude column
- the name of the longitude column
- properties: on the size and color of the markers
- the name of the column for the text of the points

In [32]:
map_md = """
<|{data_province_displayed}|chart|type=scattermapbox|selected={selected_points}|lat=Latitude|lon=Longitude|marker={marker_map}|layout={layout_map}|text=Text|mode=markers|height=800px|options={options}|>
"""

In [33]:
gui.stop()
page.set_content(map_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:8000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

![](img/carte.png)

# Part and the _render_ property
- Create a [toggle](https://docs.taipy.io/en/latest/manuals/gui/viselements/toggle/) (works the same as a selector) with a lov of 'Map' an 'Country'
- Create two part blocks that renders or not depending on the value of the toggle
    - To do this, use the fact that in the _render_ property of the part block, Python code can be inserted in `{}`

In [34]:
representation_selector = ['Map', 'Country']
selected_representation = representation_selector[0]

In [35]:
main_page = """
<|{selected_representation}|toggle|lov={representation_selector}|>

<|part|render={selected_representation == "Country"}|
"""+final_country_md+"""
|>

<|part|render={selected_representation == "Map"}|
"""+map_md+"""
|>
"""

In [36]:
gui.stop()
page.set_content(main_page)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:8000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

![](img/part_render.png)

# Taipy Core
Here are the functions that we are going to use to predict the number of Deaths for a country.
We will:
- preprocess the data (_preprocess_),
- create a training and testing database (_make_train_test_data_),
- train a model (_train_model_),
- generate predictions (_forecast_),
- generate a dataframe with the historical data and the predictions (_result_)

![](img/all_architecture.svg)

In [37]:
def preprocess(initial_data, country):
    data = initial_data.groupby(["Country/Region",'Date'])\
                       .sum()\
                       .dropna()\
                       .reset_index()

    preprocess_data = data.loc[data['Country/Region']==country].reset_index(drop=True)
    return preprocess_data
    
    
def create_train_data(preprocess_data, date):
    bool_index = pd.to_datetime(preprocess_data['Date']) <= date
    train_data = preprocess_data[bool_index]
    return train_data


def train_model(train_data):
    model = auto_arima(train_data['Deaths'],
                       start_p=1, start_q=1,
                       max_p=5, max_q=5,
                       start_P=0, seasonal=False,
                       d=1, D=1, trace=True,
                       error_action='ignore',  
                       suppress_warnings=True)
    model.fit(train_data['Deaths'])
    return model


def forecast(model):
    predictions = model.predict(n_periods=60)
    return predictions


def result(preprocess_data, predictions, date):
    dates = pd.to_datetime([date + dt.timedelta(days=i)
                            for i in range(len(predictions))])
    preprocess_data['Date'] = pd.to_datetime(preprocess_data['Date'])
    predictions = pd.concat([pd.Series(dates, name="Date"),
                             pd.Series(predictions, name="Predictions")], axis=1)
    return preprocess_data.merge(predictions, on="Date", how="outer")

First we must define the Data Nodes then the tasks (associated to the Python function). Furthermore, we gather these tasks into different pipelines and these pipelines into a scenario.

A Data Nod needs a **unique id**. If needed, the storage type can be changed for CSV and SQL. Other parameters are then needed.

### Data Nodes and Task for preprocess

<img src="img/preprocess.svg" alt="drawing" width="500"/>

In [38]:
initial_data_cfg = Config.configure_data_node(id="initial_data",
                                              storage_type="csv",
                                              path=path_to_data,
                                              cacheable=True,
                                              validity_period=dt.timedelta(days=5))

country_cfg = Config.configure_data_node(id="country", default_data="France",
                                         cacheable=True, validity_period=dt.timedelta(days=5))


preprocess_data_cfg =  Config.configure_data_node(id="preprocess_data",
                                                  cacheable=True, validity_period=dt.timedelta(days=5))


task_preprocess_cfg = Config.configure_task(id="task_preprocess_data",
                                           function=preprocess,
                                           input=[initial_data_cfg, country_cfg],
                                           output=preprocess_data_cfg)

### Data Nodes and Task for make_train_test_data

<img src="img/make_train_test_data.svg" alt="drawing" width="500"/>

In [39]:
train_data_cfg =  Config.configure_data_node(id="train_data", cacheable=True, validity_period=dt.timedelta(days=5))

date_cfg = Config.configure_data_node(id="date", default_data=dt.datetime(2020,12,1),
                                         cacheable=True, validity_period=dt.timedelta(days=5))

task_train_test_cfg = Config.configure_task(id="task_make_train_test_data",
                                           function=create_train_data,
                                           input=[preprocess_data_cfg, date_cfg],
                                           output=train_data_cfg)

### Data Nodes and Task for train_model

<img src="img/train_model.svg" alt="drawing" width="500"/>

In [40]:
model_cfg = Config.configure_data_node(id="model", cacheable=True, validity_period=dt.timedelta(days=5))

task_train_cfg = Config.configure_task(id="task_train",
                                      function=train_model,
                                      input=train_data_cfg,
                                      output=model_cfg)

### Data Nodes and Task for forecast

<img src="img/forecast.svg" alt="drawing" width="500"/>

In [41]:
predictions_cfg = Config.configure_data_node(id="predictions")

task_forecast_cfg = Config.configure_task(id="task_forecast",
                                      function=forecast,
                                      input=model_cfg,
                                      output=predictions_cfg)

### Data Nodes and Task for result

<img src="img/result.svg" alt="drawing" width="500"/>

In [42]:
result_cfg = Config.configure_data_node(id="result")

task_result_cfg = Config.configure_task(id="task_result",
                                      function=result,
                                      input=[preprocess_data_cfg, predictions_cfg, date_cfg],
                                      output=result_cfg)

## [Configuration of pipelines](https://docs.taipy.io/en/release-1.1/manuals/reference/taipy.Config/#taipy.core.config.config.Config.configure_default_pipeline)

In [43]:
pipeline_preprocessing_cfg = Config.configure_pipeline(id="pipeline_preprocessing",
                                                       task_configs=[task_preprocess_cfg, task_train_test_cfg])

pipeline_train_cfg = Config.configure_pipeline(id="pipeline_train",
                                               task_configs=[task_train_cfg])

pipeline_forecast_cfg = Config.configure_pipeline(id="pipeline_forecast",
                                                       task_configs=[task_forecast_cfg, task_result_cfg])

## [Configuration of scénario](https://docs.taipy.io/en/release-1.1/manuals/reference/taipy.Config/#taipy.core.config.config.Config.configure_default_scenario)

In [44]:
scenario_cfg = Config.configure_scenario(id='scenario', pipeline_configs=[pipeline_preprocessing_cfg,
                                                                         pipeline_train_cfg,
                                                                         pipeline_forecast_cfg])

## Creation and submit of scenario

In [45]:
scenario = tp.create_scenario(scenario_cfg, name='First Scenario')
tp.submit(scenario)

C:\Users\jacta\anaconda3\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

[2022-08-31 11:18:10,718][Taipy][INFO] job JOB_task_preprocess_data_f195e2d1-e813-4bf5-9825-38678c24248a is completed.
[2022-08-31 11:18:10,839][Taipy][INFO] job JOB_task_make_train_test_data_3645fe29-a9d7-40e4-84ff-d8edbe36c9b8 is completed.
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=4063.315, Time=0.12 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=4402.604, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=4159.716, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=4250.876, Time=0.07 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=4501.081, Time=0.01 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=4064.802, Time=0.17 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=4063.583, Time=0.19 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=4232.637, Time=0.09 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=4133.353, Time=0.03 sec
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=4057.414, Time=0.24 sec
 ARIMA(3,1,2)(0,0,0)[0] intercept   : AIC=4031.935, Time=0.19 sec
 ARIMA(3,1,1)(0,0,0)[0] intercept   : AIC=4030.365, Time=0.18 sec
 ARIMA(3,1,0)(0,0,0)[0] intercept   : AIC=4039.994, Time=0.05 sec
 ARIMA(4,1,1)(0,0,0)[0] intercept   : AIC=4032.934, Time=0.23 sec
 ARIMA(4,1,0)(0,0,0)[0] intercept   : AIC=4031.209, Time=0.20 sec
 ARIMA(4,1,2)(0,0,0)[0] intercept   : AIC=4002.248, Time=0.41 sec
 ARIMA(5,1,2)(0,0,0)[0] intercept   : AIC=4034.446, Time=0.64 sec
 ARIMA(4,1,3)(0,0,0)[0] intercept   : AIC=3986.414, Time=0.50 sec
 ARIMA(3,1,3)(0,0,0)[0] intercept   : AIC=3983.671, Time=0.40 sec
 ARIMA(2,1,3)(0,0,0)[0] intercept   : AIC=4023.278, Time=0.35 sec
 ARIMA(3,1,4)(0,0,0)[0] intercept   : AIC=3986.724, Time=0.51 sec
 ARIMA(2,1,4)(0,0,0)[0] intercept   : AIC=inf, Time=0.43 sec
 ARIMA(4,1,4)(0,0,0)[0] intercept   : AIC=3983.088, Time=0.51 sec
 ARIMA(5,1,4)(0,0,0)[0] intercept   : AIC=3985.450, Time=0.56 sec
 ARIMA(4,1,5)(0,0,0)[0] intercept   : AIC=3964.413, Time=0.67 sec
 ARIMA(3,1,5)(0,0,0)[0] intercept   : AIC=3985.053, Time=0.62 sec
 ARIMA(5,1,5)(0,0,0)[0] intercept   : AIC=3977.194, Time=0.69 sec
 ARIMA(4,1,5)(0,0,0)[0]             : AIC=3963.695, Time=0.59 sec
 ARIMA(3,1,5)(0,0,0)[0]             : AIC=3984.667, Time=0.47 sec
 ARIMA(4,1,4)(0,0,0)[0]             : AIC=3982.753, Time=0.43 sec
 ARIMA(5,1,5)(0,0,0)[0]             : AIC=3968.967, Time=0.59 sec
 ARIMA(3,1,4)(0,0,0)[0]             : AIC=3985.090, Time=0.41 sec
 ARIMA(5,1,4)(0,0,0)[0]             : AIC=3984.604, Time=0.45 sec

Best model:  ARIMA(4,1,5)(0,0,0)[0]
Total fit time: 11.039 seconds
[2022-08-31 11:18:22,577][Taipy][INFO] job JOB_task_train_55c1cada-d6a0-4a16-a7d2-3fd8bf70bc32 is completed.
[2022-08-31 11:18:22,664][Taipy][INFO] job JOB_task_forecast_5574f0e5-5d88-4c71-9d91-eb4187bbf551 is completed.
[2022-08-31 11:18:22,750][Taipy][INFO] job JOB_task_result_610fdb01-3f2f-4fa9-9a39-3ef73bb7b11d is completed.

In [46]:
scenario.model.read()

ARIMA(order=(4, 1, 5), scoring_args={}, suppress_warnings=True,
      with_intercept=False)

In [47]:
scenario.result.read()

,Country/Region,Date,Latitude,Longitude,Confirmed,Recovered,Deaths,Predictions
0,France,2020-01-24,14.6415,-56.3159,2.0,0.0,0.0,NaN
1,France,2020-01-25,14.6415,-56.3159,3.0,0.0,0.0,NaN
2,France,2020-01-26,14.6415,-56.3159,3.0,0.0,0.0,NaN
3,France,2020-01-27,14.6415,-56.3159,3.0,0.0,0.0,NaN
4,France,2020-01-28,14.6415,-56.3159,4.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...
367,NaN,2021-01-25,NaN,NaN,NaN,NaN,NaN,60434.677846
368,NaN,2021-01-26,NaN,NaN,NaN,NaN,NaN,60532.754494
369,NaN,2021-01-27,NaN,NaN,NaN,NaN,NaN,60486.535972
370,NaN,2021-01-28,NaN,NaN,NaN,NaN,NaN,60441.811373
371,NaN,2021-01-29,NaN,NaN,NaN,NaN,NaN,60533.041914

In [48]:
scenario.predictions.read()

array([53829.43409244, 54022.96066516, 54638.01588721, 55053.67235513,
       55098.58843879, 55434.38315872, 55978.97675189, 56129.70105003,
       56192.74060801, 56633.16084199, 56984.23722705, 56976.03873499,
       57159.04874851, 57587.30935412, 57713.58867701, 57692.43572287,
       57992.31250913, 58290.477899  , 58259.48714096, 58332.91555762,
       58663.52725783, 58778.97481455, 58710.69001212, 58901.11849439,
       59155.12281467, 59122.0926843 , 59121.53511101, 59370.91814431,
       59482.8265903 , 59394.48491962, 59501.88013251, 59717.44140809,
       59694.5712561 , 59647.80233847, 59829.87129182, 59940.6606115 ,
       59850.60917429, 59896.75669315, 60077.52588962, 60070.46558527,
       59998.35097083, 60124.97135672, 60233.96014812, 60153.59797928,
       60156.20602612, 60304.78515491, 60314.65089421, 60232.31929845,
       60313.80188397, 60418.71725186, 60354.2171085 , 60327.5186994 ,
       60446.20753759, 60471.27225151, 60389.2331293 , 60434.67784604,
       60532.75449425, 60486.53597154, 60441.81137263, 60533.04191396])

## Caching
Some job are skipped because no change has been done to the "input" Data Nodes.

In [49]:
tp.submit(scenario)

[2022-08-31 11:18:22,896][Taipy][INFO] job JOB_task_preprocess_data_ba9437dc-30b7-4cde-9e6d-163d6a543d57 is skipped.
[2022-08-31 11:18:22,960][Taipy][INFO] job JOB_task_make_train_test_data_e22891e9-d98a-49b1-ae8f-307e1ae2b9af is skipped.
[2022-08-31 11:18:23,021][Taipy][INFO] job JOB_task_train_9f2bd76d-a421-4506-90e9-60e6a1963b06 is skipped.
[2022-08-31 11:18:23,100][Taipy][INFO] job JOB_task_forecast_8ce830aa-b968-45e3-8804-a4a5421b99f8 is completed.
[2022-08-31 11:18:23,183][Taipy][INFO] job JOB_task_result_d0d6305e-2716-4b04-8c67-59b05ae16146 is completed.

## Write in data nodes

To write a data node:

`<Data Node>.write(new_value)`

In [50]:
scenario.country.write('US')
tp.submit(scenario)
scenario.result.read()

C:\Users\jacta\anaconda3\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

[2022-08-31 11:18:24,316][Taipy][INFO] job JOB_task_preprocess_data_3de95bf6-ad02-4bf3-9db7-e09435f58432 is completed.
[2022-08-31 11:18:24,418][Taipy][INFO] job JOB_task_make_train_test_data_47798be1-8f93-42ea-9aac-497f0456e3f0 is completed.
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=4639.915, Time=0.03 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=4997.160, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=4637.908, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=4795.329, Time=0.06 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=5293.721, Time=0.01 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=4639.917, Time=0.03 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=4641.880, Time=0.09 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=4653.543, Time=0.01 sec

Best model:  ARIMA(1,1,0)(0,0,0)[0] intercept
Total fit time: 0.254 seconds
[2022-08-31 11:18:24,772][Taipy][INFO] job JOB_task_train_b5983278-1ba1-445b-8476-fc62c98ff1e7 is completed.
[2022-08-31 11:18:24,854][Taipy][INFO] job JOB_task_forecast_fa1e8bf5-1c03-4b20-adf0-887eba1c0887 is completed.
[2022-08-31 11:18:24,941][Taipy][INFO] job JOB_task_result_e378533d-f3cb-435f-87b4-0e7b79d91065 is completed.

,Country/Region,Date,Latitude,Longitude,Confirmed,Recovered,Deaths,Predictions
0,US,2020-01-22,47.140037,-120.79136,1.0,0.0,0.0,NaN
1,US,2020-01-23,47.140037,-120.79136,1.0,0.0,0.0,NaN
2,US,2020-01-24,85.345498,-210.45008,2.0,0.0,0.0,NaN
3,US,2020-01-25,87.000686,-209.92221,2.0,0.0,0.0,NaN
4,US,2020-01-26,158.375485,-442.26423,5.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...
369,NaN,2021-01-25,NaN,NaN,NaN,NaN,NaN,329923.124817
370,NaN,2021-01-26,NaN,NaN,NaN,NaN,NaN,330821.612822
371,NaN,2021-01-27,NaN,NaN,NaN,NaN,NaN,331720.093820
372,NaN,2021-01-28,NaN,NaN,NaN,NaN,NaN,332618.568997
373,NaN,2021-01-29,NaN,NaN,NaN,NaN,NaN,333517.039337

## Simple framework

In [51]:
scenario = tp.create_scenario(scenario_cfg, name='Second Scenario')
tp.submit(scenario)

C:\Users\jacta\anaconda3\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

[2022-08-31 11:18:26,119][Taipy][INFO] job JOB_task_preprocess_data_51dfba21-5afb-44c1-9c94-abf0f4d8d98a is completed.
[2022-08-31 11:18:26,203][Taipy][INFO] job JOB_task_make_train_test_data_df6e8fe8-5fec-4642-8e28-a7459825a77d is completed.
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=4063.315, Time=0.11 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=4402.604, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=4159.716, Time=0.01 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=4250.876, Time=0.07 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=4501.081, Time=0.01 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=4064.802, Time=0.19 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=4063.583, Time=0.28 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=4232.637, Time=0.09 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=4133.353, Time=0.03 sec
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=4057.414, Time=0.27 sec
 ARIMA(3,1,2)(0,0,0)[0] intercept   : AIC=4031.935, Time=0.21 sec
 ARIMA(3,1,1)(0,0,0)[0] intercept   : AIC=4030.365, Time=0.17 sec
 ARIMA(3,1,0)(0,0,0)[0] intercept   : AIC=4039.994, Time=0.05 sec
 ARIMA(4,1,1)(0,0,0)[0] intercept   : AIC=4032.934, Time=0.22 sec
 ARIMA(4,1,0)(0,0,0)[0] intercept   : AIC=4031.209, Time=0.20 sec
 ARIMA(4,1,2)(0,0,0)[0] intercept   : AIC=4002.248, Time=0.41 sec
 ARIMA(5,1,2)(0,0,0)[0] intercept   : AIC=4034.446, Time=0.48 sec
 ARIMA(4,1,3)(0,0,0)[0] intercept   : AIC=3986.414, Time=0.43 sec
 ARIMA(3,1,3)(0,0,0)[0] intercept   : AIC=3983.671, Time=0.43 sec
 ARIMA(2,1,3)(0,0,0)[0] intercept   : AIC=4023.278, Time=0.36 sec
 ARIMA(3,1,4)(0,0,0)[0] intercept   : AIC=3986.724, Time=0.50 sec
 ARIMA(2,1,4)(0,0,0)[0] intercept   : AIC=inf, Time=0.40 sec
 ARIMA(4,1,4)(0,0,0)[0] intercept   : AIC=3983.088, Time=0.51 sec
 ARIMA(5,1,4)(0,0,0)[0] intercept   : AIC=3985.450, Time=0.56 sec
 ARIMA(4,1,5)(0,0,0)[0] intercept   : AIC=3964.413, Time=0.65 sec
 ARIMA(3,1,5)(0,0,0)[0] intercept   : AIC=3985.053, Time=0.62 sec
 ARIMA(5,1,5)(0,0,0)[0] intercept   : AIC=3977.194, Time=0.69 sec
 ARIMA(4,1,5)(0,0,0)[0]             : AIC=3963.695, Time=0.59 sec
 ARIMA(3,1,5)(0,0,0)[0]             : AIC=3984.667, Time=0.47 sec
 ARIMA(4,1,4)(0,0,0)[0]             : AIC=3982.753, Time=0.43 sec
 ARIMA(5,1,5)(0,0,0)[0]             : AIC=3968.967, Time=0.60 sec
 ARIMA(3,1,4)(0,0,0)[0]             : AIC=3985.090, Time=0.40 sec
 ARIMA(5,1,4)(0,0,0)[0]             : AIC=3984.604, Time=0.45 sec

Best model:  ARIMA(4,1,5)(0,0,0)[0]
Total fit time: 10.906 seconds
[2022-08-31 11:18:37,783][Taipy][INFO] job JOB_task_train_8369f353-644f-4f0c-9dfd-789fbf5e3d85 is completed.
[2022-08-31 11:18:37,867][Taipy][INFO] job JOB_task_forecast_3f7c2166-f6c5-49a9-8a07-ade782ba7d59 is completed.
[2022-08-31 11:18:37,949][Taipy][INFO] job JOB_task_result_7888c355-9ebd-451f-8cd7-e98d259b85a4 is completed.

In [52]:
[s.model.read() for s in tp.get_scenarios()]

[2022-08-31 11:18:37,962][Taipy][WARNING] Data node DATANODE_model_03f9d082-2bdf-434a-90c6-2cd18a6f05a0 is being read but has never been written.
[2022-08-31 11:18:37,995][Taipy][WARNING] Data node DATANODE_model_98a2d52d-ccb6-4b6b-8833-07f427dfe038 is being read but has never been written.
[2022-08-31 11:18:38,001][Taipy][WARNING] Data node DATANODE_model_b51cc9e3-67b8-418f-a005-ca036bb2007e is being read but has never been written.
[2022-08-31 11:18:38,018][Taipy][WARNING] Data node DATANODE_model_921df79f-f3ef-4507-8ea4-797423a92af4 is being read but has never been written.
[2022-08-31 11:18:38,023][Taipy][WARNING] Data node DATANODE_model_fe100abe-f6a4-4828-9561-691a57be1844 is being read but has never been written.

[None,
 ARIMA(order=(4, 1, 5), scoring_args={}, suppress_warnings=True,
       with_intercept=False),
 ARIMA(order=(1, 1, 0), scoring_args={}, suppress_warnings=True),
 ARIMA(order=(4, 1, 5), scoring_args={}, suppress_warnings=True,
       with_intercept=False),
 ARIMA(order=(1, 1, 0), scoring_args={}, suppress_warnings=True),
 ARIMA(order=(1, 1, 0), scoring_args={}, suppress_warnings=True),
 None,
 None,
 ARIMA(order=(4, 1, 5), scoring_args={}, suppress_warnings=True,
       with_intercept=False),
 ARIMA(order=(1, 1, 0), scoring_args={}, suppress_warnings=True),
 None,
 None,
 ARIMA(order=(4, 1, 5), scoring_args={}, suppress_warnings=True,
       with_intercept=False),
 ARIMA(order=(1, 1, 0), scoring_args={}, suppress_warnings=True),
 ARIMA(order=(4, 1, 5), scoring_args={}, suppress_warnings=True,
       with_intercept=False),
 ARIMA(order=(4, 1, 5), scoring_args={}, suppress_warnings=True,
       with_intercept=False),
 ARIMA(order=(1, 1, 0), scoring_args={}, suppress_warnings=True)]

## Create a Gui for the backend
_scenario_selector_ lets you choose a scenario and display its results.

In [53]:
scenario_selector = [(s.id, s.name) for s in tp.get_scenarios()]
selected_scenario = scenario.id
print(scenario_selector,'\n', selected_scenario)

[('SCENARIO_scenario_011735c1-1716-4900-8a87-c008b0ebf702', 'First Scenario'), ('SCENARIO_scenario_4414c9bf-1e36-4091-9e2c-e26c5d55829f', 'Second Scenario'), ('SCENARIO_scenario_50921b98-4ed0-4fa9-92f6-94a11fdfc312', 'First Scenario'), ('SCENARIO_scenario_54c20fc7-e6f3-4e34-ad80-f0c5ab8fb2a0', 'Second Scenario'), ('SCENARIO_scenario_696256f0-d9a9-4e1d-a2b9-3119b8f18281', 'First Scenario'), ('SCENARIO_scenario_76a9f20e-537c-4032-b31d-2019c99ea012', 'First Scenario'), ('SCENARIO_scenario_854a6642-cd6d-487c-9999-126131fbd2b6', 'First Scenario'), ('SCENARIO_scenario_98930574-5c46-47a1-a415-813515c8e5e4', 'Second Scenario'), ('SCENARIO_scenario_9a6bb656-ecd6-43cc-9cb8-10cc6bd58266', 'Second Scenario'), ('SCENARIO_scenario_9cbdf341-6994-4cad-9eec-524db67a4e36', 'First Scenario'), ('SCENARIO_scenario_a3a64c9f-d302-412f-b724-d4f21290061f', 'Second Scenario'), ('SCENARIO_scenario_bf33e913-413f-4c47-84a8-3670d5c60e52', 'First Scenario'), ('SCENARIO_scenario_d035d394-005c-4060-8d57-bfd2e045d174', 'Second Scenario'), ('SCENARIO_scenario_d24ce9b4-4404-42d6-837e-850b69643882', 'First Scenario'), ('SCENARIO_scenario_d2fac01a-b1fa-4b3b-ac41-05bf40cfd725', 'Second Scenario'), ('SCENARIO_scenario_ec489781-2ffe-4d9b-b7f3-677a54c3f0d9', 'Second Scenario'), ('SCENARIO_scenario_f561b9c6-23a7-4a80-9754-6cd4cb212d9a', 'First Scenario')]
 SCENARIO_scenario_ec489781-2ffe-4d9b-b7f3-677a54c3f0d9

In [54]:
result = scenario.result.read()
result

,Country/Region,Date,Latitude,Longitude,Confirmed,Recovered,Deaths,Predictions
0,France,2020-01-24,14.6415,-56.3159,2.0,0.0,0.0,NaN
1,France,2020-01-25,14.6415,-56.3159,3.0,0.0,0.0,NaN
2,France,2020-01-26,14.6415,-56.3159,3.0,0.0,0.0,NaN
3,France,2020-01-27,14.6415,-56.3159,3.0,0.0,0.0,NaN
4,France,2020-01-28,14.6415,-56.3159,4.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...
367,NaN,2021-01-25,NaN,NaN,NaN,NaN,NaN,60434.677846
368,NaN,2021-01-26,NaN,NaN,NaN,NaN,NaN,60532.754494
369,NaN,2021-01-27,NaN,NaN,NaN,NaN,NaN,60486.535972
370,NaN,2021-01-28,NaN,NaN,NaN,NaN,NaN,60441.811373
371,NaN,2021-01-29,NaN,NaN,NaN,NaN,NaN,60533.041914

**Tips** : the _value_by_id_ property if set to True for a selected will make _selected_scenario_ directly refer to the first element of the tupple (here the id)

![](img/predictions.png)

In [55]:
prediction_md = """
<|layout|columns=1 5 5 1 3|
<|{scenario_name}|input|label=Name|>

<br/>
<|Create|button|on_action=create_new_scenario|>

<|{first_date}|date|>

<|{selected_country}|selector|lov={selector_country}|dropdown|on_change=on_change_country|label=Country|>

<br/>
<|Submit|button|on_action=submit_scenario|>

<|{selected_scenario}|selector|lov={scenario_selector}|on_change=actualize_graph|dropdown|value_by_id|label=Scenario|>
|>

<|{result}|chart|x=Date|y[1]=Deaths|type[1]=bar|y[2]=Predictions|>
"""

In [56]:
def create_new_scenario(state):
    scenario = tp.create_scenario(scenario_cfg, name=state.scenario_name)
    state.scenario_selector += [(scenario.id, scenario.name)]

In [57]:
def actualize_graph(state):
    # 1) update the result dataframe
    # 2) change selected_country with the predicted country of the scenario
    scenario = tp.get(state.selected_scenario)
    state.result = scenario.result.read()
    state.selected_country = scenario.country.read()

In [58]:
def submit_scenario(state):
    # 1) get the selected scenario
    # 2) write in country Data Node, the selected country
    # 3) submit the scenario
    # 4) actualize le graph avec actualize_graph
    scenario = tp.get(state.selected_scenario)
    scenario.country.write(state.selected_country)
    scenario.date.write(state.first_date.replace(tzinfo=None))
    tp.submit(scenario)
    actualize_graph(state)

In [59]:
gui.stop()
page.set_content(prediction_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:8000
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

# Multi-pages and Taipy Rest

To create a multi-pages app, we only need a dictionary with names as the keys and the Markdowns as the values.

The _navbar_ control (<|navbar|>) has a default behaviour. It redirects to the different pages of the app automatically. Other solutions exists.

![](img/multi_pages.png)

In [60]:
navbar_md = "<center>\n<|navbar|>\n</center>"

pages = {
    "Map":navbar_md+map_md,
    "Country":navbar_md+final_country_md,
    "Predictions":navbar_md+prediction_md
}

rest = tp.Rest()

gui_multi_pages = Gui(pages=pages)
tp.run(gui_multi_pages, rest, dark_mode=False, port=5006)

 * Server starting on http://127.0.0.1:5006
 * Serving Flask app 'taipy.rest.app' (lazy loading)
 * Environment: None
 * Debug mode: off

C:\Users\jacta\anaconda3\lib\site-packages\taipy\gui\gui.py:726: UserWarning: on_action: 'submit_scenario' function invocation exception: 'datetime.datetime' object has no attribute 'tz_localize'
  warnings.warn(f"on_action: '{action_function.__name__}' function invocation exception: {e}")
C:\Users\jacta\anaconda3\lib\site-packages\taipy\gui\gui.py:701: UserWarning: on_action: 'submit_scenario' is not a function
  warnings.warn(f"on_action: '{action}' is not a function")