# Install Taipy

To install Taipy, just `pip install` it.

In [ ]:
%pip install taipy -q

In [ ]:
%pip install pmdarima -q

# Import the packages

In [1]:
from taipy.gui import Gui, Markdown, notify
from taipy import Config, Scope
import taipy as tp

import datetime as dt

from pmdarima import auto_arima

from sklearn.linear_model import LinearRegression

import pandas as pd
import numpy as np

from pandas.core.common import SettingWithCopyWarning
import warnings

warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

# Taipy Gui Basics
## Markdown Syntax

Taipy uses the Markdown syntax to display elements. `#` creates a title, `*` puts your text in italics and `**` puts it in bold.

![](img/gui_basic_eng.png)

In [2]:
page_md = """
# Taipy

Test **here** to put some *markdown*

Click to access the [doc](https://docs.taipy.io/en/latest/)
"""

In [3]:
Gui(page_md).run(dark_mode=False, run_browser=False)

 * Server starting on http://127.0.0.1:5000

## Visual elements
Create different visual elements. The syntax is always the same for each visual element.  `<|{value}|name_of_visual_element|property_1=value_of_property_1|...|>`
- Create a [slider](https://docs.taipy.io/en/latest/manuals/gui/viselements/slider/) `<|{value}|slider|>`

- Create a [date](https://docs.taipy.io/en/latest/manuals/gui/viselements/date/) `<|{value}|date|>`

- Create a [selector](https://docs.taipy.io/en/latest/manuals/gui/viselements/selector/) `<|{value}|selector|lov={list_of_values}|>`

![](img/control.png)

In [4]:
slider_value = 0
date_value = None
selected_value = None
selector = ['Test 1', 'Test 2', 'Test 3']

control_md = """
## Controls

<|{slider_value}|slider|> <|{slider_value}|>

<|{date_value}|date|> <|{date_value}|>

<|{selected_value}|selector|lov={selector}|> <|{selected_value}|>
"""

In [5]:
Gui(control_md).run(dark_mode=False, run_browser=False)

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000

## Data Viz

A dataset gathering information on the number of deaths, confirmed cases and recovered for different regions is going to be used to create an interactive Dashboard.

In [6]:
path_to_data = "data/covid-19-all.csv"
data = pd.read_csv(path_to_data, low_memory=False)
data[-5:]

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date
1241947,Vietnam,NaN,14.058324,108.277199,1465.0,1325.0,35.0,2020-12-31
1241948,West Bank and Gaza,NaN,31.952200,35.233200,138004.0,117183.0,1400.0,2020-12-31
1241949,Yemen,NaN,15.552727,48.516388,2099.0,1394.0,610.0,2020-12-31
1241950,Zambia,NaN,-13.133897,27.849332,20725.0,18660.0,388.0,2020-12-31
1241951,Zimbabwe,NaN,-19.015438,29.154857,13867.0,11250.0,363.0,2020-12-31

In [7]:
def initialize_case_evolution(data, selected_country='India') -> pd.DataFrame:
    # Aggregation of the dataframe per Country/Region
    country_date_df = data.groupby(["Country/Region",'Date']).sum().reset_index()
    
    # a country is selected, here India by default
    country_date_df = country_date_df.loc[country_date_df['Country/Region']==selected_country]
    return country_date_df

In [8]:
country_date_df = initialize_case_evolution(data)
country_date_df.head()

,Country/Region,Date,Latitude,Longitude,Confirmed,Recovered,Deaths
23021,India,2020-01-30,23.746783,78.96288,1.0,0.0,0.0
23022,India,2020-01-31,23.746783,78.96288,1.0,0.0,0.0
23023,India,2020-02-01,23.746783,78.96288,1.0,0.0,0.0
23024,India,2020-02-02,23.746783,78.96288,2.0,0.0,0.0
23025,India,2020-02-03,23.746783,78.96288,3.0,0.0,0.0

Create a [chart](https://docs.taipy.io/en/latest/manuals/gui/viselements/chart/) showing the evolution of Deaths in France (_Deaths_ for _y_ and _Date_ for _x_). The visual element (chart) has the same syntax as the other ones with specific properties (_x_, _y_, _type_ for example). Here are some [examples of charts](https://docs.taipy.io/en/release-1.1/manuals/gui/viselements/charts/bar/). The _x_ and _y_ porperties only needs the name of the dataframe columns to display.

![](img/simple_graph.png)

In [9]:
country_md = "<|{country_date_df}|chart|x=Date|y=Deaths|type=bar|>"

In [10]:
Gui(country_md).run(dark_mode=False, run_browser=False)

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000

## Add new traces

- Add on the graph the number of Confirmed and Recovered cases (_Confirmed_ and _Recovered_) with the number of Deaths
- _y_ (and _x_) can be indexed this way to add more traces (`y[1]=`, `y[2]=`, `y[3]=`).

![](img/multi_traces.png)

In [11]:
country_md = "<|{country_date_df}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|>"

In [12]:
Gui(country_md).run(dark_mode=False, run_browser=False)

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000

## Style the graph with personalized properties
The _layout_ dictionnary specifies how bars should be displayed. They would be 'stacked'.

The _options_ dictionary will change the opacity of the unselected markers.

These are Plotly properties.

![](img/stack_chart.png)

In [13]:
layout = {'barmode':'stack'}
options = {"unselected":{"marker":{"opacity":0.5}}}
country_md = "<|{country_date_df}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|layout={layout}|options={options}|>"

In [14]:
Gui(country_md).run(dark_mode=False, run_browser=False)

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000

## Add texts that sums up the data

Use the [text](https://docs.taipy.io/en/latest/manuals/gui/viselements/text/) visual element.

- Add the total number of Deaths (last line of _country_date_df_)
- Add the total number of Recovered (last line of _country_date_df_)
- Add the total number of Confirmed (last line of _country_date_df_)

In [15]:
country_date_df

,Country/Region,Date,Latitude,Longitude,Confirmed,Recovered,Deaths
23021,India,2020-01-30,23.746783,78.962880,1.0,0.0,0.0
23022,India,2020-01-31,23.746783,78.962880,1.0,0.0,0.0
23023,India,2020-02-01,23.746783,78.962880,1.0,0.0,0.0
23024,India,2020-02-02,23.746783,78.962880,2.0,0.0,0.0
23025,India,2020-02-03,23.746783,78.962880,3.0,0.0,0.0
...,...,...,...,...,...,...,...
23353,India,2020-12-27,854.924665,3023.983447,10207871.0,9782669.0,147901.0
23354,India,2020-12-28,854.924665,3023.983447,10224303.0,9807569.0,148153.0
23355,India,2020-12-29,854.924665,3023.983447,10244852.0,9834141.0,148439.0
23356,India,2020-12-30,854.924665,3023.983447,10266674.0,9860280.0,148738.0
23357,India,2020-12-31,854.924665,3023.983447,10266674.0,9860280.0,148738.0

This is how we can get the total number of Deaths from the dataset for India.

In [16]:
country_date_df.iloc[-1, 6] # gives the number of deaths for India (5 is for recovered and 4 is confirmed)

148738.0

Use the [text](https://docs.taipy.io/en/release-1.1/manuals/gui/viselements/text/) visual element. Note that between `{}`, any Python variable can be put but also any Python code.

![](img/control_text.png)

In [17]:
country_md = """
## Deaths <|{country_date_df.iloc[-1, 6]}|text|>

## Recovered <|{country_date_df.iloc[-1, 5]}|text|>

## Confirmed <|{country_date_df.iloc[-1, 4]}|text|>

<|{country_date_df}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|layout={layout}|options={options}|>
"""

In [18]:
Gui(country_md).run(dark_mode=False, run_browser=False)

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000

## Local _on_change_

- Add a [selector](https://docs.taipy.io/en/latest/manuals/gui/viselements/selector/) with `dropdown=True` containing the name of all the _Country/region_
- Give to the _on_change_ selector property the name of the _on_change_country_ function. This function will be called when the selector will be used.
- This function has a 'state' parameter and has to be completed. When the selector is used, this function is called with the _state_ argument. It contains all the Gui variables; 'state.country_date_df' is then the dataframe used in the Gui.

![](img/on_change_local.png)

In [19]:
country_lov = sorted(data["Country/Region"].dropna().unique().tolist())
selected_country = "India"

country_md = """
<|{selected_country}|selector|lov={country_lov}|on_change=on_change_country|dropdown|label=Country|>

## Deaths <|{country_date_df.iloc[-1, 6]}|>

## Recovered <|{country_date_df.iloc[-1, 5]}|>

## Confirmed <|{country_date_df.iloc[-1, 4]}|>

<|{country_date_df}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|layout={layout}|options={options}|>
"""

In [20]:
def on_change_country(state):
    # state contains all the Gui variables and this is through this state variable that we can update the Gui
    # state.selected_country, state.country_date_df, ...
    # update country_date_df with the right country (use initialize_case_evolution)
    print("Chosen country: ", state.selected_country)
    state.country_date_df = initialize_case_evolution(data, state.selected_country)

In [21]:
Gui(country_md).run(dark_mode=False, run_browser=False)

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000
Chosen country:  Hungary
Chosen country:  Honduras
Chosen country:  Guinea
Chosen country:  Ghana

## Layout

Use the [layout](https://docs.taipy.io/en/latest/manuals/gui/viselements/layout/) block to change the page structure. This block creates invisible columns to put text/visual elements in.

Syntax :
```
<|layout|columns=1 1 1 ...|
(first column)

(in second column)

(third column)
(again, third column)

(...)
|>
```

In [22]:
final_country_md = """
<|layout|columns=1 1 1 1|
<|{selected_country}|selector|lov={country_lov}|on_change=on_change_country|dropdown|label=Country|>

## Deaths <|{country_date_df.iloc[-1, 6]}|>

## Recovered <|{country_date_df.iloc[-1, 5]}|>

## Confirmed <|{country_date_df.iloc[-1, 4]}|>
|>

<|{country_date_df}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|layout={layout}|options={options}|>
"""

In [24]:
Gui(final_country_md).run(dark_mode=False, run_browser=False)

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000

![](img/layout.png)

# Map

In [25]:
def initialize_map(data):
    data['Province/State'] = data['Province/State'].fillna(data["Country/Region"])
    data_province = data.groupby(["Country/Region",
                                  'Province/State',
                                  'Longitude',
                                  'Latitude'])\
                         .max()

    data_province_displayed = data_province[data_province['Deaths']>10].reset_index()

    data_province_displayed['Size'] = np.sqrt(data_province_displayed.loc[:,'Deaths']/data_province_displayed.loc[:,'Deaths'].max())*80 + 3
    data_province_displayed['Text'] = data_province_displayed.loc[:,'Deaths'].astype(str) + ' deaths</br>' + data_province_displayed.loc[:,'Province/State']
    return data_province_displayed

In [26]:
data_province_displayed = initialize_map(data)
data_province_displayed.head()

,Country/Region,Province/State,Longitude,Latitude,Confirmed,Recovered,Deaths,Date,Size,Text
0,Afghanistan,Afghanistan,67.709953,33.93911,51526.0,41727.0,2191.0,2020-12-31,17.771247,2191.0 deaths</br>Afghanistan
1,Albania,Albania,20.168300,41.15330,58316.0,33634.0,1181.0,2020-12-31,13.844784,1181.0 deaths</br>Albania
2,Algeria,Algeria,1.659600,28.03390,99610.0,67127.0,2756.0,2020-12-31,19.566684,2756.0 deaths</br>Algeria
3,Andorra,Andorra,1.521800,42.50630,8049.0,7432.0,84.0,2020-12-31,5.892249,84.0 deaths</br>Andorra
4,Angola,Angola,17.873900,-11.20270,17553.0,11044.0,405.0,2020-12-31,9.350728,405.0 deaths</br>Angola

Properties to style the map
- marker color corresponds to the number of Deaths (column _Deaths_)
- marker sizes corresponds to the size in _Size_ column which is created from the number of Deaths

layout_map permet defined the initial zoom and position of the map

In [27]:
marker_map = {"color":"Deaths", "size": "Size", "showscale":True, "colorscale":"Viridis"}
layout_map = {
            "dragmode": "zoom",
            "mapbox": { "style": "open-street-map", "center": { "lat": 38, "lon": -90 }, "zoom": 3}
            }

We give to Plotly:
- a map type
- the name of the latitude column
- the name of the longitude column
- properties: on the size and color of the markers
- the name of the column for the text of the points

In [28]:
selected_points = []
map_md = """
<|{data_province_displayed}|chart|type=scattermapbox|selected={selected_points}|lat=Latitude|lon=Longitude|marker={marker_map}|layout={layout_map}|text=Text|mode=markers|height=800px|options={options}|>
"""

In [29]:
Gui(map_md).run(dark_mode=False, run_browser=False)

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000

![](img/carte.png)

# Part and the _render_ property
- Create a [toggle](https://docs.taipy.io/en/latest/manuals/gui/viselements/toggle/) (works the same as a selector) with a lov of 'Map' an 'Country'
- Create two part blocks that renders or not depending on the value of the toggle
    - To do this, use the fact that in the _render_ property of the part block, Python code can be inserted in `{}`

In [ ]:
representation_toggle = ['Map', 'Country']
selected_representation = representation_toggle[0]

In [ ]:
main_page = """
<|{selected_representation}|toggle|lov={representation_toggle}|>

<|part|render={selected_representation == "Country"}|
"""+final_country_md+"""
|>

<|part|render={selected_representation == "Map"}|
"""+map_md+"""
|>
"""

In [ ]:
Gui(main_page).run(dark_mode=False, run_browser=False)

![](img/part_render.png)

# Taipy Core
Here are the functions that we are going to use to predict the number of Deaths for a country.
We will:
- preprocess the data (_preprocess_),
- create a training and testing database (_make_train_test_data_),
- train a model (_train_model_),
- generate predictions (_forecast_),
- generate a dataframe with the historical data and the predictions (_result_)

![](img/all_architecture.svg)

In [30]:
# initialise variables
selected_scenario = None
scenario_selector = None

first_date = dt.datetime(2020,11,1)

scenario_name = None

result = None

In [ ]:
#Config.configure_job_executions(mode="standalone", nb_of_workers=2)

In [32]:
def add_features(data):
    dates = pd.to_datetime(data["Date"])
    data["Months"] = dates.dt.month
    data["Days"] = dates.dt.isocalendar().day
    data["Week"] = dates.dt.isocalendar().week
    data["Day of week"] = dates.dt.dayofweek
    return data

def create_train_data(final_data, date):
    bool_index = pd.to_datetime(final_data['Date']) <= date
    train_data = final_data[bool_index]
    return train_data

def preprocess(initial_data, country, date):
    data = initial_data.groupby(["Country/Region",'Date'])\
                       .sum()\
                       .dropna()\
                       .reset_index()

    final_data = data.loc[data['Country/Region']==country].reset_index(drop=True)
    final_data = final_data[['Date','Deaths']]
    final_data = add_features(final_data)
    
    train_data = create_train_data(final_data, date)
    return final_data, train_data


def train_arima(train_data):
    model = auto_arima(train_data['Deaths'],
                       start_p=1, start_q=1,
                       max_p=5, max_q=5,
                       start_P=0, seasonal=False,
                       d=1, D=1, trace=True,
                       error_action='ignore',  
                       suppress_warnings=True)
    model.fit(train_data['Deaths'])
    return model


def forecast(model):
    predictions = model.predict(n_periods=60)
    return predictions


def result(final_data, predictions, date):
    dates = pd.to_datetime([date + dt.timedelta(days=i)
                            for i in range(len(predictions))])
    final_data['Date'] = pd.to_datetime(final_data['Date'])
    predictions = pd.concat([pd.Series(dates, name="Date"),
                             pd.Series(predictions, name="Predictions")], axis=1)
    return final_data.merge(predictions, on="Date", how="outer")

First we must define the Data Nodes then the tasks (associated to the Python function). Furthermore, we gather these tasks into different pipelines and these pipelines into a scenario.

A Data Node needs a **unique id**. If needed, the storage type can be changed for CSV and SQL. Other parameters are then needed.

### Data Nodes and Task for preprocess

<img src="img/preprocess.svg" alt="drawing" width="500"/>

In [33]:
initial_data_cfg = Config.configure_data_node(id="initial_data",
                                              storage_type="csv",
                                              path=path_to_data,
                                              cacheable=True,
                                              validity_period=dt.timedelta(days=5),
                                              scope=Scope.GLOBAL)

country_cfg = Config.configure_data_node(id="country", default_data="India",
                                         cacheable=True, validity_period=dt.timedelta(days=5))


date_cfg = Config.configure_data_node(id="date", default_data=dt.datetime(2020,10,10),
                                         cacheable=True, validity_period=dt.timedelta(days=5))

<img src="img/preprocess.svg" alt="drawing" width="500"/>

In [34]:
final_data_cfg =  Config.configure_data_node(id="final_data",
                                            cacheable=True, validity_period=dt.timedelta(days=5))


train_data_cfg =  Config.configure_data_node(id="train_data", cacheable=True, validity_period=dt.timedelta(days=5))

<img src="img/preprocess.svg" alt="drawing" width="500"/>

In [35]:
task_preprocess_cfg = Config.configure_task(id="task_preprocess_data",
                                           function=preprocess,
                                           input=[initial_data_cfg, country_cfg, date_cfg],
                                           output=[final_data_cfg,train_data_cfg])

### Data Nodes and Task for train_model

<img src="img/train_model.svg" alt="drawing" width="500"/>

In [36]:
model_cfg = Config.configure_data_node(id="model", cacheable=True, validity_period=dt.timedelta(days=5), scope=Scope.PIPELINE)

task_train_cfg = Config.configure_task(id="task_train",
                                      function=train_arima,
                                      input=train_data_cfg,
                                      output=model_cfg)

### Data Nodes and Task for forecast

<img src="img/forecast_arima.svg" alt="drawing" width="500"/>

In [37]:
predictions_cfg = Config.configure_data_node(id="predictions", scope=Scope.PIPELINE)

task_forecast_cfg = Config.configure_task(id="task_forecast",
                                      function=forecast,
                                      input=model_cfg,
                                      output=predictions_cfg)

### Data Nodes and Task for result

<img src="img/result.svg" alt="drawing" width="500"/>

In [38]:
result_cfg = Config.configure_data_node(id="result", scope=Scope.PIPELINE)

task_result_cfg = Config.configure_task(id="task_result",
                                      function=result,
                                      input=[final_data_cfg, predictions_cfg, date_cfg],
                                      output=result_cfg)

## [Configuration of pipelines](https://docs.taipy.io/en/release-1.1/manuals/reference/taipy.Config/#taipy.core.config.config.Config.configure_default_pipeline)

In [39]:
pipeline_preprocessing_cfg = Config.configure_pipeline(id="pipeline_preprocessing",
                                                       task_configs=[task_preprocess_cfg])

pipeline_arima_cfg = Config.configure_pipeline(id="ARIMA",
                                               task_configs=[task_train_cfg,
                                                             task_forecast_cfg,
                                                             task_result_cfg])

## Add more models

<img src="img/pipeline_linear_regression.svg" alt="drawing" width="500"/>

In [40]:
def train_linear_regression(train_data):    
    y = train_data['Deaths']
    X = train_data.drop(['Deaths','Date'], axis=1)
    
    model = LinearRegression()
    model.fit(X,y)
    return model

def forecast_linear_regression(model, date):
    dates = pd.to_datetime([date + dt.timedelta(days=i)
                            for i in range(60)])
    X = add_features(pd.DataFrame({"Date":dates}))
    X.drop('Date', axis=1, inplace=True)
    predictions = model.predict(X)
    return predictions


task_train_cfg = Config.configure_task(id="task_train",
                                      function=train_linear_regression,
                                      input=train_data_cfg,
                                      output=model_cfg)

task_forecast_cfg = Config.configure_task(id="task_forecast",
                                      function=forecast_linear_regression,
                                      input=[model_cfg, date_cfg],
                                      output=predictions_cfg)

pipeline_linear_regression_cfg = Config.configure_pipeline(id="LinearRegression",
                                               task_configs=[task_train_cfg,
                                                             task_forecast_cfg,
                                                             task_result_cfg])

## [Configuration of scénario](https://docs.taipy.io/en/release-1.1/manuals/reference/taipy.Config/#taipy.core.config.config.Config.configure_default_scenario)

In [41]:
scenario_cfg = Config.configure_scenario(id='scenario', pipeline_configs=[pipeline_preprocessing_cfg,
                                                                          pipeline_arima_cfg,
                                                                          pipeline_linear_regression_cfg])

## Creation and submit of scenario

In [42]:
scenario = tp.create_scenario(scenario_cfg, name='First Scenario')
tp.submit(scenario)

C:\Users\jacta\AppData\Local\R-MINI~1\envs\notebook\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

[2022-09-23 10:25:53,331][Taipy][INFO] job JOB_task_preprocess_data_9198f3d7-7e89-497d-85c4-3320cc0a99aa is completed.
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=3403.257, Time=0.38 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=3834.545, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=3555.070, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=3711.502, Time=0.09 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=3992.428, Time=0.01 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=3395.911, Time=0.33 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=3469.260, Time=0.04 sec
 ARIMA(3,1,1)(0,0,0)[0] intercept   : AIC=3398.025, Time=0.41 sec
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=3395.437, Time=0.38 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=3395.219, Time=0.33 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=3639.930, Time=0.19 sec
 ARIMA(1,1,3)(0,0,0)[0] intercept   : AIC=3397.038, Time=0.55 sec
 ARIMA(0,1,3)(0,0,0)[0] intercept   : AIC=3595.496, Time=0.15 sec
 ARIMA(2,1,3)(0,0,0)[0] intercept   : AIC=inf, Time=0.43 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=3394.362, Time=0.12 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=3726.468, Time=0.09 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=3402.072, Time=0.47 sec
 ARIMA(2,1,2)(0,0,0)[0]             : AIC=inf, Time=0.32 sec
 ARIMA(1,1,3)(0,0,0)[0]             : AIC=3396.195, Time=0.24 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=3820.542, Time=0.04 sec
 ARIMA(0,1,3)(0,0,0)[0]             : AIC=3665.462, Time=0.14 sec
 ARIMA(2,1,1)(0,0,0)[0]             : AIC=3394.738, Time=0.18 sec
 ARIMA(2,1,3)(0,0,0)[0]             : AIC=3396.760, Time=0.25 sec

Best model:  ARIMA(1,1,2)(0,0,0)[0]
Total fit time: 5.209 seconds
[2022-09-23 10:25:58,811][Taipy][INFO] job JOB_task_train_c5a66632-9ef8-4660-8305-dc6e9446a694 is completed.
[2022-09-23 10:25:58,934][Taipy][INFO] job JOB_task_forecast_5bda20ab-d39a-47eb-a5a3-ac78d95ac1c6 is completed.
[2022-09-23 10:25:59,066][Taipy][INFO] job JOB_task_result_8796faa4-4e16-461a-8259-996dd82f1fcc is completed.
[2022-09-23 10:25:59,190][Taipy][INFO] job JOB_task_train_5c98e67e-807c-4650-bd1d-478c5f7f2497 is completed.
[2022-09-23 10:25:59,312][Taipy][INFO] job JOB_task_forecast_f2b743ae-f59e-4b03-aa7e-568586471bd1 is completed.
[2022-09-23 10:25:59,438][Taipy][INFO] job JOB_task_result_bdcafab0-4a74-4264-babc-4b41305883ab is completed.

In [43]:
scenario.initial_data.read()

C:\Users\jacta\AppData\Local\R-MINI~1\envs\notebook\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date
0,NaN,NaN,NaN,NaN,51526.0,41727.0,2191.0,2021-01-01
1,NaN,NaN,NaN,NaN,58316.0,33634.0,1181.0,2021-01-01
2,NaN,NaN,NaN,NaN,99897.0,67395.0,2762.0,2021-01-01
3,NaN,NaN,NaN,NaN,8117.0,7463.0,84.0,2021-01-01
4,NaN,NaN,NaN,NaN,17568.0,11146.0,405.0,2021-01-01
...,...,...,...,...,...,...,...,...
1241947,Vietnam,NaN,14.058324,108.277199,1465.0,1325.0,35.0,2020-12-31
1241948,West Bank and Gaza,NaN,31.952200,35.233200,138004.0,117183.0,1400.0,2020-12-31
1241949,Yemen,NaN,15.552727,48.516388,2099.0,1394.0,610.0,2020-12-31
1241950,Zambia,NaN,-13.133897,27.849332,20725.0,18660.0,388.0,2020-12-31
1241951,Zimbabwe,NaN,-19.015438,29.154857,13867.0,11250.0,363.0,2020-12-31

In [44]:
scenario.train_data.read()

           Date    Deaths  Months  Days  Week  Day of week
0    2020-01-30       0.0       1     4     5            3
1    2020-01-31       0.0       1     5     5            4
2    2020-02-01       0.0       2     6     5            5
3    2020-02-02       0.0       2     7     5            6
4    2020-02-03       0.0       2     1     6            0
..          ...       ...     ...   ...   ...          ...
250  2020-10-06  104555.0      10     2    41            1
251  2020-10-07  105526.0      10     3    41            2
252  2020-10-08  106490.0      10     4    41            3
253  2020-10-09  107416.0      10     5    41            4
254  2020-10-10  108334.0      10     6    41            5

[255 rows x 6 columns]

In [46]:
scenario.ARIMA.predictions.read()

255    109313.301056
256    110278.582535
257    111243.835729
258    112209.060640
259    113174.257267
260    114139.425612
261    115104.565676
262    116069.677459
263    117034.760963
264    117999.816188
265    118964.843135
266    119929.841804
267    120894.812197
268    121859.754315
269    122824.668158
270    123789.553727
271    124754.411023
272    125719.240047
273    126684.040799
274    127648.813281
275    128613.557493
276    129578.273436
277    130542.961111
278    131507.620519
279    132472.251660
280    133436.854536
281    134401.429147
282    135365.975494
283    136330.493578
284    137294.983399
285    138259.444959
286    139223.878259
287    140188.283298
288    141152.660079
289    142117.008602
290    143081.328867
291    144045.620875
292    145009.884628
293    145974.120127
294    146938.327371
295    147902.506362
296    148866.657100
297    149830.779588
298    150794.873824
299    151758.939810
300    152722.977548
301    153686.987037
302    154650.968279
303    155614.921274
304    156578.846024
305    157542.742529
306    158506.610789
307    159470.450806
308    160434.262581
309    161398.046115
310    162361.801407
311    163325.528460
312    164289.227273
313    165252.897848
314    166216.540186
dtype: float64

## Caching
Some job are skipped because no change has been done to the "input" Data Nodes.

In [47]:
tp.submit(scenario)

[2022-09-23 10:27:06,926][Taipy][INFO] job JOB_task_preprocess_data_f3a6a308-0110-4daa-9a02-104b6f4662a9 is skipped.
[2022-09-23 10:27:06,998][Taipy][INFO] job JOB_task_train_ba9bb719-7c1d-4cc7-b7ef-7025e175dec5 is skipped.
[2022-09-23 10:27:07,086][Taipy][INFO] job JOB_task_forecast_fd610f0c-9047-49ef-9b74-a64dbbc5708b is completed.
[2022-09-23 10:27:07,184][Taipy][INFO] job JOB_task_result_93a0d6df-e011-44ec-862e-626a1e92931c is completed.
[2022-09-23 10:27:07,258][Taipy][INFO] job JOB_task_train_94e70384-6452-4ac9-b529-a01ebb3a7bf6 is skipped.
[2022-09-23 10:27:07,348][Taipy][INFO] job JOB_task_forecast_ab3d6ef8-0cde-4f75-8a26-88688ba0dcdb is completed.
[2022-09-23 10:27:07,444][Taipy][INFO] job JOB_task_result_715815bf-0ab4-4cbe-9524-712f0a957ef4 is completed.

## Write in data nodes

To write a data node:

`<Data Node>.write(new_value)`

In [48]:
scenario.country.write('US')
tp.submit(scenario)
scenario.result.read()

C:\Users\jacta\AppData\Local\R-MINI~1\envs\notebook\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

[2022-09-23 10:28:33,473][Taipy][INFO] job JOB_task_preprocess_data_170fbc47-a0e5-43b6-beb5-a677374ebff3 is completed.
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=3864.276, Time=0.04 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=4187.713, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=3862.617, Time=0.04 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=4017.317, Time=0.07 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=4407.771, Time=0.01 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=3864.226, Time=0.03 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=3866.190, Time=0.08 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=3873.251, Time=0.01 sec

Best model:  ARIMA(1,1,0)(0,0,0)[0] intercept
Total fit time: 0.312 seconds
[2022-09-23 10:28:33,938][Taipy][INFO] job JOB_task_train_70f8fea8-4dd1-4133-a698-bf647e8e5df7 is completed.
[2022-09-23 10:28:34,045][Taipy][INFO] job JOB_task_forecast_499ffd19-5f32-45ab-a68f-0032d079db92 is completed.
[2022-09-23 10:28:34,158][Taipy][INFO] job JOB_task_result_47f64d9e-738d-4f4e-aa17-4c0efdcfe08f is completed.
[2022-09-23 10:28:34,248][Taipy][INFO] job JOB_task_train_b37156a7-9282-4c16-b731-95e1461574fe is completed.
[2022-09-23 10:28:34,350][Taipy][INFO] job JOB_task_forecast_87242662-ec35-4117-9f7e-c22074ff9fbc is completed.
[2022-09-23 10:28:34,447][Taipy][INFO] job JOB_task_result_4ef8037c-e0d5-4685-8e91-89e7eee6bc64 is completed.

          Date  Deaths  Months  Days  Week  Day of week    Predictions
0   2020-01-22     0.0     1.0     3     4          2.0            NaN
1   2020-01-23     0.0     1.0     4     4          3.0            NaN
2   2020-01-24     0.0     1.0     5     4          4.0            NaN
3   2020-01-25     0.0     1.0     6     4          5.0            NaN
4   2020-01-26     0.0     1.0     7     4          6.0            NaN
..         ...     ...     ...   ...   ...          ...            ...
400        NaT     NaN     NaN  <NA>  <NA>          NaN  260009.944416
401        NaT     NaN     NaN  <NA>  <NA>          NaN  260835.572919
402        NaT     NaN     NaN  <NA>  <NA>          NaN  261661.203059
403        NaT     NaN     NaN  <NA>  <NA>          NaN  262486.834575
404        NaT     NaN     NaN  <NA>  <NA>          NaN  263312.467247

[405 rows x 7 columns]

## Simple framework

In [49]:
scenario = tp.create_scenario(scenario_cfg, name='Second Scenario')
tp.submit(scenario)

C:\Users\jacta\AppData\Local\R-MINI~1\envs\notebook\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

[2022-09-23 10:29:03,779][Taipy][INFO] job JOB_task_preprocess_data_fd8aed00-175b-46fb-ad91-5ae21608684d is completed.
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=3403.257, Time=0.27 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=3834.545, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=3555.070, Time=0.03 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=3711.502, Time=0.07 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=3992.428, Time=0.01 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=3395.911, Time=0.25 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=3469.260, Time=0.03 sec
 ARIMA(3,1,1)(0,0,0)[0] intercept   : AIC=3398.025, Time=0.32 sec
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=3395.437, Time=0.32 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=3395.219, Time=0.26 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=3639.930, Time=0.08 sec
 ARIMA(1,1,3)(0,0,0)[0] intercept   : AIC=3397.038, Time=0.30 sec
 ARIMA(0,1,3)(0,0,0)[0] intercept   : AIC=3595.496, Time=0.11 sec
 ARIMA(2,1,3)(0,0,0)[0] intercept   : AIC=inf, Time=0.36 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=3394.362, Time=0.11 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=3726.468, Time=0.13 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=3402.072, Time=0.13 sec
 ARIMA(2,1,2)(0,0,0)[0]             : AIC=inf, Time=0.33 sec
 ARIMA(1,1,3)(0,0,0)[0]             : AIC=3396.195, Time=0.24 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=3820.542, Time=0.04 sec
 ARIMA(0,1,3)(0,0,0)[0]             : AIC=3665.462, Time=0.12 sec
 ARIMA(2,1,1)(0,0,0)[0]             : AIC=3394.738, Time=0.13 sec
 ARIMA(2,1,3)(0,0,0)[0]             : AIC=3396.760, Time=0.20 sec

Best model:  ARIMA(1,1,2)(0,0,0)[0]
Total fit time: 3.852 seconds
[2022-09-23 10:29:07,879][Taipy][INFO] job JOB_task_train_595ddb13-86cf-46d8-838b-a48907214616 is completed.
[2022-09-23 10:29:07,977][Taipy][INFO] job JOB_task_forecast_e2a10a0a-81d6-4573-8850-909e7f2c6866 is completed.
[2022-09-23 10:29:08,080][Taipy][INFO] job JOB_task_result_11058283-0374-41e9-8437-e2487450f140 is completed.
[2022-09-23 10:29:08,169][Taipy][INFO] job JOB_task_train_e764e82a-0e6e-4909-8b5d-3e6108d6abc7 is completed.
[2022-09-23 10:29:08,263][Taipy][INFO] job JOB_task_forecast_6429c871-d068-48a6-85de-60deb22074c8 is completed.
[2022-09-23 10:29:08,377][Taipy][INFO] job JOB_task_result_f6814cb5-41ef-4b26-aca2-3c079c49ac15 is completed.

In [50]:
scenario.ARIMA.model.read()

ARIMA(order=(1, 1, 2), scoring_args={}, suppress_warnings=True,
      with_intercept=False)

In [51]:
scenario.pipelines['LinearRegression'].model.read()

LinearRegression()

In [52]:
[s.country.read() for s in tp.get_scenarios()]

['India', 'US', 'US', 'India', 'France', 'India']

In [53]:
[s.date.read() for s in tp.get_scenarios()]

[datetime.datetime(2020, 10, 10, 0, 0),
 datetime.datetime(2020, 10, 10, 0, 0),
 datetime.datetime(2020, 10, 10, 0, 0),
 datetime.datetime(2020, 10, 10, 0, 0),
 datetime.datetime(2020, 10, 10, 0, 0),
 datetime.datetime(2020, 10, 10, 0, 0)]

## Create a Gui for the backend
_scenario_selector_ lets you choose a scenario and display its results.

In [54]:
scenario_selector = [(s.id, s.name) for s in tp.get_scenarios()]
selected_scenario = scenario.id
print(scenario_selector,'\n', selected_scenario)

[('SCENARIO_scenario_08b630e1-ca95-4810-85dc-aa986f79bf0b', 'First Scenario'), ('SCENARIO_scenario_0d690db1-7dcf-4d2a-8562-e10899615afe', 'First Scenario'), ('SCENARIO_scenario_84f0ac9f-4931-4a72-ab0f-aa027a29af25', 'First Scenario'), ('SCENARIO_scenario_94830314-9e05-4233-9946-8f1de08174c9', 'Second Scenario'), ('SCENARIO_scenario_b94d3130-c1f8-4c45-8213-d7ac47588371', 'France 1'), ('SCENARIO_scenario_ba4750ec-c1f7-4908-b413-5301cd851f4c', 'Second Scenario')]
 SCENARIO_scenario_ba4750ec-c1f7-4908-b413-5301cd851f4c

In [55]:
result_arima = scenario.pipelines['ARIMA'].result.read()
result_rd = scenario.pipelines['LinearRegression'].result.read()
result = result_rd.merge(result_arima, on="Date", how="outer").sort_values(by='Date')
result

,Date,Deaths_x,Months_x,Days_x,Week_x,Day of week_x,Predictions_x,Deaths_y,Months_y,Days_y,Week_y,Day of week_y,Predictions_y
0,2020-01-30,0.0,1.0,4,5,3.0,NaN,0.0,1.0,4,5,3.0,NaN
1,2020-01-31,0.0,1.0,5,5,4.0,NaN,0.0,1.0,5,5,4.0,NaN
2,2020-02-01,0.0,2.0,6,5,5.0,NaN,0.0,2.0,6,5,5.0,NaN
3,2020-02-02,0.0,2.0,7,5,6.0,NaN,0.0,2.0,7,5,6.0,NaN
4,2020-02-03,0.0,2.0,1,6,0.0,NaN,0.0,2.0,1,6,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,NaT,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,162361.801407
393,NaT,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,163325.528460
394,NaT,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,164289.227273
395,NaT,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,165252.897848
396,NaT,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,166216.540186

**Tips** : the _value_by_id_ property if set to True for a selected will make _selected_scenario_ directly refer to the first element of the tupple (here the id)

![](img/predictions.png)

In [56]:
prediction_md = """
<|layout|columns=1 2 5 1 3|
<|{scenario_name}|input|label=Name|>

<br/>
<|Create|button|on_action=create_new_scenario|>

Prediction date
<|{first_date}|date|>

<|{selected_country}|selector|lov={country_lov}|dropdown|on_change=on_change_country|label=Country|>

<br/>
<|Submit|button|on_action=submit_scenario|>

<|{selected_scenario}|selector|lov={scenario_selector}|on_change=actualize_graph|dropdown|value_by_id|label=Scenario|>
|>

<|{result}|chart|x=Date|y[1]=Deaths_x|type[1]=bar|y[2]=Predictions_x|y[3]=Predictions_y|>
"""

In [57]:
def create_new_scenario(state):
    scenario = tp.create_scenario(scenario_cfg, name=state.scenario_name)
    state.scenario_selector += [(scenario.id, scenario.name)]

In [58]:
def submit_scenario(state):
    # 1) get the selected scenario
    # 2) write in country Data Node, the selected country
    # 3) submit the scenario
    # 4) actualize le graph avec actualize_graph
    scenario = tp.get(state.selected_scenario)
    scenario.country.write(state.selected_country)
    scenario.date.write(state.first_date.replace(tzinfo=None))
    tp.submit(scenario)
    actualize_graph(state)

In [59]:
def actualize_graph(state):
    # 1) update the result dataframe
    # 2) change selected_country with the predicted country of the scenario
    scenario = tp.get(state.selected_scenario)
    result_arima = scenario.pipelines['ARIMA'].result.read()
    result_rd = scenario.pipelines['LinearRegression'].result.read()
    if result_arima is not None and result_rd is not None:
        state.result = result_rd.merge(result_arima, on="Date", how="outer").sort_values(by='Date')
    state.selected_country = scenario.country.read()

In [60]:
Gui(prediction_md).run(dark_mode=False)

Gui server has been stopped
 * Server starting on http://127.0.0.1:5000
Chosen country:  Hungary

C:\Users\jacta\AppData\Local\R-MINI~1\envs\notebook\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

[2022-09-23 10:42:19,992][Taipy][INFO] job JOB_task_preprocess_data_ce7018ff-a60d-48bb-9274-c16ba476dcc7 is completed.
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=1325.824, Time=0.08 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=1903.383, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=1392.460, Time=0.03 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=1697.520, Time=0.04 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=1978.728, Time=0.01 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=1325.820, Time=0.13 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=inf, Time=0.09 sec
 ARIMA(3,1,1)(0,0,0)[0] intercept   : AIC=1323.027, Time=0.13 sec
 ARIMA(3,1,0)(0,0,0)[0] intercept   : AIC=inf, Time=0.10 sec
 ARIMA(4,1,1)(0,0,0)[0] intercept   : AIC=1322.252, Time=0.19 sec
 ARIMA(4,1,0)(0,0,0)[0] intercept   : AIC=inf, Time=0.13 sec
 ARIMA(5,1,1)(0,0,0)[0] intercept   : AIC=1320.518, Time=0.40 sec
 ARIMA(5,1,0)(0,0,0)[0] intercept   : AIC=inf, Time=0.19 sec
 ARIMA(5,1,2)(0,0,0)[0] intercept   : AIC=1320.496, Time=0.44 sec
 ARIMA(4,1,2)(0,0,0)[0] intercept   : AIC=1322.191, Time=0.33 sec
 ARIMA(5,1,3)(0,0,0)[0] intercept   : AIC=1322.222, Time=0.45 sec
 ARIMA(4,1,3)(0,0,0)[0] intercept   : AIC=1324.140, Time=0.43 sec
 ARIMA(5,1,2)(0,0,0)[0]             : AIC=1319.268, Time=0.54 sec
 ARIMA(4,1,2)(0,0,0)[0]             : AIC=1320.960, Time=0.24 sec
 ARIMA(5,1,1)(0,0,0)[0]             : AIC=1319.276, Time=0.21 sec
 ARIMA(5,1,3)(0,0,0)[0]             : AIC=1320.986, Time=0.32 sec
 ARIMA(4,1,1)(0,0,0)[0]             : AIC=1321.041, Time=0.11 sec
 ARIMA(4,1,3)(0,0,0)[0]             : AIC=1320.764, Time=0.35 sec

Best model:  ARIMA(5,1,2)(0,0,0)[0]
Total fit time: 4.943 seconds
[2022-09-23 10:42:25,402][Taipy][INFO] job JOB_task_train_35c25410-65ac-4d07-9ddf-b80ef496e7d5 is completed.
[2022-09-23 10:42:25,504][Taipy][INFO] job JOB_task_forecast_5a7995c5-971b-4c72-9310-12390651b6c0 is completed.
[2022-09-23 10:42:25,606][Taipy][INFO] job JOB_task_result_227682ae-0a5f-4d21-a416-01a6476d0488 is completed.
[2022-09-23 10:42:25,701][Taipy][INFO] job JOB_task_train_24cfaec3-8f46-42a1-83a1-6fc73ce97f22 is completed.
[2022-09-23 10:42:25,794][Taipy][INFO] job JOB_task_forecast_bfb6553b-1db6-4f1f-9900-263760ed150a is completed.
[2022-09-23 10:42:25,893][Taipy][INFO] job JOB_task_result_4da9ef05-fe03-4060-905f-ee7ef74ca695 is completed.
[2022-09-23 10:45:02,716][Taipy][WARNING] Data node DATANODE_result_20e03a18-d50f-42f5-b8a4-83a5d9d1cbe9 is being read but has never been written.
[2022-09-23 10:45:02,721][Taipy][WARNING] Data node DATANODE_result_147ddc73-423b-48df-8af9-5425313dc5a7 is being read but has never been written.
Chosen country:  Eswatini

C:\Users\jacta\AppData\Local\R-MINI~1\envs\notebook\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

[2022-09-23 10:46:28,742][Taipy][INFO] job JOB_task_preprocess_data_e97e6881-6265-4136-b621-89612d5042fc is completed.
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=574.886, Time=0.10 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=643.646, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=612.867, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=619.381, Time=0.03 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=698.142, Time=0.01 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=576.742, Time=0.26 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=576.668, Time=0.28 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=618.775, Time=0.06 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=610.858, Time=0.05 sec
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=576.665, Time=0.25 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=573.768, Time=0.06 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=653.316, Time=0.02 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=633.120, Time=0.02 sec
 ARIMA(2,1,1)(0,0,0)[0]             : AIC=575.621, Time=0.08 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=575.547, Time=0.08 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=647.366, Time=0.03 sec
 ARIMA(2,1,0)(0,0,0)[0]             : AIC=624.568, Time=0.02 sec
 ARIMA(2,1,2)(0,0,0)[0]             : AIC=575.539, Time=0.13 sec

Best model:  ARIMA(1,1,1)(0,0,0)[0]
Total fit time: 1.539 seconds
[2022-09-23 10:46:30,468][Taipy][INFO] job JOB_task_train_0db9cddd-abe3-487e-b750-6a2b35e106c5 is completed.
[2022-09-23 10:46:30,598][Taipy][INFO] job JOB_task_forecast_811a3619-b29c-44cf-8ea0-ebf8d7296987 is completed.
[2022-09-23 10:46:30,733][Taipy][INFO] job JOB_task_result_e5c2a57c-bef5-4545-8d52-c767cb257995 is completed.
[2022-09-23 10:46:30,860][Taipy][INFO] job JOB_task_train_b7801f56-4e6d-43cf-a08b-e47e9b8b3c9b is completed.
[2022-09-23 10:46:30,983][Taipy][INFO] job JOB_task_forecast_9d876215-6f15-4c9d-8f6d-75e908c40da6 is completed.
[2022-09-23 10:46:31,103][Taipy][INFO] job JOB_task_result_9cc445e4-3802-4760-8fb4-798208110799 is completed.
[2022-09-23 10:46:36,715][Taipy][WARNING] Data node DATANODE_result_45836abe-3e26-4f4b-9a70-d4e67ae55529 is being read but has never been written.
[2022-09-23 10:46:36,720][Taipy][WARNING] Data node DATANODE_result_8e953c94-bbc6-4f09-b405-e9ceb9b77b07 is being read but has never been written.
[2022-09-23 10:46:42,253][Taipy][WARNING] Data node DATANODE_result_45836abe-3e26-4f4b-9a70-d4e67ae55529 is being read but has never been written.
[2022-09-23 10:46:42,261][Taipy][WARNING] Data node DATANODE_result_8e953c94-bbc6-4f09-b405-e9ceb9b77b07 is being read but has never been written.
Chosen country:  Hong Kong

C:\Users\jacta\AppData\Local\R-MINI~1\envs\notebook\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

[2022-09-23 10:46:46,295][Taipy][INFO] job JOB_task_preprocess_data_d12f25ed-13fe-4d1e-a454-6ed7bacf0be1 is completed.
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=inf, Time=0.15 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=4.036, Time=0.02 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=5.817, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=5.778, Time=0.02 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=5.134, Time=0.01 sec

Best model:  ARIMA(0,1,0)(0,0,0)[0] intercept
Total fit time: 0.220 seconds
[2022-09-23 10:46:46,636][Taipy][INFO] job JOB_task_train_671883e1-0724-4bb7-9018-4174e2b98315 is completed.
[2022-09-23 10:46:46,739][Taipy][INFO] job JOB_task_forecast_681afdc4-8221-40cb-9c07-794b729df574 is completed.
[2022-09-23 10:46:46,842][Taipy][INFO] job JOB_task_result_86755d46-e5ca-480f-841d-6091fa2822ce is completed.
[2022-09-23 10:46:46,925][Taipy][INFO] job JOB_task_train_ecb8a255-a4b9-4537-9c4d-b6bec73726a4 is completed.
[2022-09-23 10:46:47,016][Taipy][INFO] job JOB_task_forecast_94d50d26-a9dd-4af6-8eb7-494c2ac141fd is completed.
[2022-09-23 10:46:47,109][Taipy][INFO] job JOB_task_result_9b7559fd-26c4-4464-8967-f38e193377cc is completed.
Chosen country:  Israel

C:\Users\jacta\AppData\Local\R-MINI~1\envs\notebook\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

[2022-09-23 10:46:54,516][Taipy][INFO] job JOB_task_preprocess_data_36bb5806-ebc8-49fe-a72b-23c673f8cea1 is completed.
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=1401.281, Time=0.14 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=1948.119, Time=0.02 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=1516.698, Time=0.04 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=1771.735, Time=0.09 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=2100.379, Time=0.01 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=1390.055, Time=0.12 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=1411.023, Time=0.06 sec
 ARIMA(3,1,1)(0,0,0)[0] intercept   : AIC=1382.644, Time=0.15 sec
 ARIMA(3,1,0)(0,0,0)[0] intercept   : AIC=1386.220, Time=0.06 sec
 ARIMA(4,1,1)(0,0,0)[0] intercept   : AIC=1384.500, Time=0.22 sec
 ARIMA(3,1,2)(0,0,0)[0] intercept   : AIC=1384.214, Time=0.20 sec
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=1392.047, Time=0.10 sec
 ARIMA(4,1,0)(0,0,0)[0] intercept   : AIC=1386.004, Time=0.09 sec
 ARIMA(4,1,2)(0,0,0)[0] intercept   : AIC=1382.188, Time=0.29 sec
 ARIMA(5,1,2)(0,0,0)[0] intercept   : AIC=1373.566, Time=0.43 sec
 ARIMA(5,1,1)(0,0,0)[0] intercept   : AIC=1375.739, Time=0.20 sec
 ARIMA(5,1,3)(0,0,0)[0] intercept   : AIC=1373.375, Time=0.48 sec
 ARIMA(4,1,3)(0,0,0)[0] intercept   : AIC=1380.858, Time=0.42 sec
 ARIMA(5,1,4)(0,0,0)[0] intercept   : AIC=1383.770, Time=0.61 sec
 ARIMA(4,1,4)(0,0,0)[0] intercept   : AIC=1381.795, Time=0.50 sec
 ARIMA(5,1,3)(0,0,0)[0]             : AIC=1373.182, Time=0.32 sec
 ARIMA(4,1,3)(0,0,0)[0]             : AIC=1379.997, Time=0.20 sec
 ARIMA(5,1,2)(0,0,0)[0]             : AIC=1371.980, Time=0.29 sec
 ARIMA(4,1,2)(0,0,0)[0]             : AIC=1381.362, Time=0.19 sec
 ARIMA(5,1,1)(0,0,0)[0]             : AIC=1374.822, Time=0.15 sec
 ARIMA(4,1,1)(0,0,0)[0]             : AIC=1384.052, Time=0.16 sec

Best model:  ARIMA(5,1,2)(0,0,0)[0]
Total fit time: 5.549 seconds
[2022-09-23 10:47:00,487][Taipy][INFO] job JOB_task_train_17d61909-afcb-494a-ba13-b3b2dafdc096 is completed.
[2022-09-23 10:47:00,578][Taipy][INFO] job JOB_task_forecast_38861084-56cf-449d-a510-0320a6030bd3 is completed.
[2022-09-23 10:47:00,683][Taipy][INFO] job JOB_task_result_2c7b514a-7330-4a15-acd3-2a544238e4eb is completed.
[2022-09-23 10:47:00,770][Taipy][INFO] job JOB_task_train_e304d1e1-5f10-42b7-9b3a-8074a9b5a021 is completed.
[2022-09-23 10:47:00,861][Taipy][INFO] job JOB_task_forecast_126d79db-93ac-4365-adbd-0e7ec2ff8ddf is completed.
[2022-09-23 10:47:00,979][Taipy][INFO] job JOB_task_result_40b5178f-089a-41ec-a6b9-f95e11ac80cc is completed.

# Multi-pages and Taipy Rest

To create a multi-pages app, we only need a dictionary with names as the keys and the Markdowns as the values.

The _navbar_ control (<|navbar|>) has a default behaviour. It redirects to the different pages of the app automatically. Other solutions exists.

![](img/multi_pages.png)

In [61]:
navbar_md = "<center>\n<|navbar|>\n</center>"

pages = {
    "Map":navbar_md+map_md,
    "Country":navbar_md+final_country_md,
    "Predictions":navbar_md+prediction_md
}

rest = tp.Rest()

gui_multi_pages = Gui(pages=pages)
tp.run(gui_multi_pages, rest, dark_mode=False, port=5006)

 * Server starting on http://127.0.0.1:5006