# Install Taipy

To install Taipy, just `pip install` it.

In [1]:
pip install taipy

Requirement already satisfied: taipy in c:\users\jacta\anaconda3\lib\site-packages (1.1.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: taipy-rest<1.2,>=1.1 in c:\users\jacta\anaconda3\lib\site-packages (from taipy) (1.1.1)
Requirement already satisfied: taipy-gui<1.2,>=1.1 in c:\users\jacta\anaconda3\lib\site-packages (from taipy) (1.1.1)
Requirement already satisfied: flask-talisman<2.0,>=1.0 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (1.0.0)
Requirement already satisfied: simple-websocket<0.6,>=0.3 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (0.5.1)
Requirement already satisfied: flask<3.0,>=2.1 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (2.1.1)
Requirement already satisfied: pandas<2.0,>=1.3.4 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (1.4.2)
Requirement already satisfied: backports.zoneinfo<0.3,>=0.2.1 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (0.2.1)
Requirement already satisfied: markdown<4.0,>=3.3.4 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (3.3.4)
Requirement already satisfied: flask-socketio<6.0,>=5.1.1 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (5.1.1)
Requirement already satisfied: pytz<2022.2,>=2021.3 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (2022.1)
Requirement already satisfied: tzlocal<5.0,>=3.0 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (4.2)
Requirement already satisfied: flask-cors<4.0,>=3.0.10 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (3.0.10)
Requirement already satisfied: python-dotenv<0.21,>=0.19 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-gui<1.2,>=1.1->taipy) (0.20.0)
Requirement already satisfied: Jinja2>=3.0 in c:\users\jacta\anaconda3\lib\site-packages (from flask<3.0,>=2.1->taipy-gui<1.2,>=1.1->taipy) (3.1.1)
Requirement already satisfied: importlib-metadata>=3.6.0 in c:\users\jacta\anaconda3\lib\site-packages (from flask<3.0,>=2.1->taipy-gui<1.2,>=1.1->taipy) (3.10.0)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\jacta\anaconda3\lib\site-packages (from flask<3.0,>=2.1->taipy-gui<1.2,>=1.1->taipy) (2.1.2)
Requirement already satisfied: Werkzeug>=2.0 in c:\users\jacta\anaconda3\lib\site-packages (from flask<3.0,>=2.1->taipy-gui<1.2,>=1.1->taipy) (2.0.0)
Requirement already satisfied: click>=8.0 in c:\users\jacta\anaconda3\lib\site-packages (from flask<3.0,>=2.1->taipy-gui<1.2,>=1.1->taipy) (8.1.2)
Requirement already satisfied: colorama in c:\users\jacta\anaconda3\lib\site-packages (from click>=8.0->flask<3.0,>=2.1->taipy-gui<1.2,>=1.1->taipy) (0.4.4)
Requirement already satisfied: Six in c:\users\jacta\anaconda3\lib\site-packages (from flask-cors<4.0,>=3.0.10->taipy-gui<1.2,>=1.1->taipy) (1.15.0)
Requirement already satisfied: python-socketio>=5.0.2 in c:\users\jacta\anaconda3\lib\site-packages (from flask-socketio<6.0,>=5.1.1->taipy-gui<1.2,>=1.1->taipy) (5.5.2)
Requirement already satisfied: zipp>=0.5 in c:\users\jacta\anaconda3\lib\site-packages (from importlib-metadata>=3.6.0->flask<3.0,>=2.1->taipy-gui<1.2,>=1.1->taipy) (3.4.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\jacta\anaconda3\lib\site-packages (from Jinja2>=3.0->flask<3.0,>=2.1->taipy-gui<1.2,>=1.1->taipy) (2.1.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\jacta\anaconda3\lib\site-packages (from pandas<2.0,>=1.3.4->taipy-gui<1.2,>=1.1->taipy) (1.21.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jacta\anaconda3\lib\site-packages (from pandas<2.0,>=1.3.4->taipy-gui<1.2,>=1.1->taipy) (2.8.1)
Requirement already satisfied: bidict>=0.21.0 in c:\users\jacta\anaconda3\lib\site-packages (from python-socketio>=5.0.2->flask-socketio<6.0,>=5.1.1->taipy-gui<1.2,>=1.1->taipy) (0.22.0)
Requirement already satisfied: python-engineio>=4.3.0 in c:\users\jacta\anaconda3\lib\site-packages (from python-socketio>=5.0.2->flask-socketio<6.0,>=5.1.1->taipy-gui<1.2,>=1.1->taipy) (4.3.1)
Requirement already satisfied: wsproto in c:\users\jacta\anaconda3\lib\site-packages (from simple-websocket<0.6,>=0.3->taipy-gui<1.2,>=1.1->taipy) (1.1.0)
Requirement already satisfied: apispec[yaml]<6.0,>=5.1 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (5.1.1)
Requirement already satisfied: flask-jwt-extended<5.0,>=4.3 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (4.3.1)
Requirement already satisfied: flask-restful<0.4,>=0.3.9 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (0.3.9)
Requirement already satisfied: flask-migrate<4.0,>=3.1 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (3.1.0)
Requirement already satisfied: flask-marshmallow<0.15,>=0.14 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (0.14.0)
Requirement already satisfied: marshmallow-sqlalchemy<0.29,>=0.25 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (0.28.0)
Requirement already satisfied: passlib<1.8,>=1.7.4 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (1.7.4)
Requirement already satisfied: taipy-core<1.2,>=1.1 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (1.1.2)
Requirement already satisfied: apispec-webframeworks<0.6,>=0.5.2 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-rest<1.2,>=1.1->taipy) (0.5.2)
Requirement already satisfied: PyYAML>=3.10 in c:\users\jacta\anaconda3\lib\site-packages (from apispec[yaml]<6.0,>=5.1->taipy-rest<1.2,>=1.1->taipy) (5.4.1)
Requirement already satisfied: PyJWT<3.0,>=2.0 in c:\users\jacta\anaconda3\lib\site-packages (from flask-jwt-extended<5.0,>=4.3->taipy-rest<1.2,>=1.1->taipy) (2.1.0)
Requirement already satisfied: marshmallow>=2.0.0 in c:\users\jacta\anaconda3\lib\site-packages (from flask-marshmallow<0.15,>=0.14->taipy-rest<1.2,>=1.1->taipy) (3.15.0)
Requirement already satisfied: alembic>=0.7 in c:\users\jacta\anaconda3\lib\site-packages (from flask-migrate<4.0,>=3.1->taipy-rest<1.2,>=1.1->taipy) (1.7.7)
Requirement already satisfied: Flask-SQLAlchemy>=1.0 in c:\users\jacta\anaconda3\lib\site-packages (from flask-migrate<4.0,>=3.1->taipy-rest<1.2,>=1.1->taipy) (2.5.1)
Requirement already satisfied: SQLAlchemy>=1.3.0 in c:\users\jacta\anaconda3\lib\site-packages (from alembic>=0.7->flask-migrate<4.0,>=3.1->taipy-rest<1.2,>=1.1->taipy) (1.4.35)
Requirement already satisfied: Mako in c:\users\jacta\anaconda3\lib\site-packages (from alembic>=0.7->flask-migrate<4.0,>=3.1->taipy-rest<1.2,>=1.1->taipy) (1.2.0)
Requirement already satisfied: importlib-resources in c:\users\jacta\anaconda3\lib\site-packages (from alembic>=0.7->flask-migrate<4.0,>=3.1->taipy-rest<1.2,>=1.1->taipy) (5.6.0)
Requirement already satisfied: aniso8601>=0.82 in c:\users\jacta\anaconda3\lib\site-packages (from flask-restful<0.4,>=0.3.9->taipy-rest<1.2,>=1.1->taipy) (9.0.1)
Requirement already satisfied: packaging in c:\users\jacta\anaconda3\lib\site-packages (from marshmallow>=2.0.0->flask-marshmallow<0.15,>=0.14->taipy-rest<1.2,>=1.1->taipy) (21.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jacta\anaconda3\lib\site-packages (from SQLAlchemy>=1.3.0->alembic>=0.7->flask-migrate<4.0,>=3.1->taipy-rest<1.2,>=1.1->taipy) (1.1.2)
Requirement already satisfied: networkx<3.0,>=2.6 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-core<1.2,>=1.1->taipy-rest<1.2,>=1.1->taipy) (2.7.1)
Requirement already satisfied: openpyxl<4.0,>=3.0.3 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-core<1.2,>=1.1->taipy-rest<1.2,>=1.1->taipy) (3.0.9)
Requirement already satisfied: toml<0.11,>=0.10 in c:\users\jacta\anaconda3\lib\site-packages (from taipy-core<1.2,>=1.1->taipy-rest<1.2,>=1.1->taipy) (0.10.2)
Requirement already satisfied: et-xmlfile in c:\users\jacta\anaconda3\lib\site-packages (from openpyxl<4.0,>=3.0.3->taipy-core<1.2,>=1.1->taipy-rest<1.2,>=1.1->taipy) (1.1.0)
Requirement already satisfied: pytz-deprecation-shim in c:\users\jacta\anaconda3\lib\site-packages (from tzlocal<5.0,>=3.0->taipy-gui<1.2,>=1.1->taipy) (0.1.0.post0)
Requirement already satisfied: tzdata in c:\users\jacta\anaconda3\lib\site-packages (from tzlocal<5.0,>=3.0->taipy-gui<1.2,>=1.1->taipy) (2022.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\jacta\anaconda3\lib\site-packages (from packaging->marshmallow>=2.0.0->flask-marshmallow<0.15,>=0.14->taipy-rest<1.2,>=1.1->taipy) (2.4.7)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\jacta\anaconda3\lib\site-packages (from wsproto->simple-websocket<0.6,>=0.3->taipy-gui<1.2,>=1.1->taipy) (0.13.0)

In [2]:
pip install pmdarima

Requirement already satisfied: pmdarima in c:\users\jacta\anaconda3\lib\site-packages (1.8.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (1.7.1)
Requirement already satisfied: numpy>=1.19.3 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (1.21.0)
Requirement already satisfied: urllib3 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (1.26.4)
Requirement already satisfied: scikit-learn>=0.22 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (1.0.2)
Requirement already satisfied: joblib>=0.11 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (1.1.0)
Requirement already satisfied: statsmodels!=0.12.0,>=0.11 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (0.13.2)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (52.0.0.post20210125)
Requirement already satisfied: Cython!=0.29.18,>=0.29 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (0.29.30)
Requirement already satisfied: pandas>=0.19 in c:\users\jacta\anaconda3\lib\site-packages (from pmdarima) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jacta\anaconda3\lib\site-packages (from pandas>=0.19->pmdarima) (2.8.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\jacta\anaconda3\lib\site-packages (from pandas>=0.19->pmdarima) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\jacta\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.19->pmdarima) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\jacta\anaconda3\lib\site-packages (from scikit-learn>=0.22->pmdarima) (3.1.0)
Requirement already satisfied: packaging>=21.3 in c:\users\jacta\anaconda3\lib\site-packages (from statsmodels!=0.12.0,>=0.11->pmdarima) (21.3)
Requirement already satisfied: patsy>=0.5.2 in c:\users\jacta\anaconda3\lib\site-packages (from statsmodels!=0.12.0,>=0.11->pmdarima) (0.5.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\jacta\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels!=0.12.0,>=0.11->pmdarima) (2.4.7)
Note: you may need to restart the kernel to use updated packages.

# Import the packages et initialization

In [3]:
from taipy.gui import Gui, Markdown, notify
from taipy import Config, Scope
import taipy as tp

import datetime as dt

from pmdarima import auto_arima

from sklearn.linear_model import LinearRegression

import pandas as pd
import numpy as np

In [4]:
from pandas.core.common import SettingWithCopyWarning
import warnings

warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

data_country_date = None
selected_country = None

selected_scenario = None
scenario_selector = None

first_date = dt.datetime(2020,11,1)

scenario_name = None

result = None

selected_points = []

data_province_displayed = None

api_year = None
api_pop = None
api_country = None

# Taipy Gui Basics
## Markdown Syntax

Taipy uses the Markdown syntax to display elements. `#` creates a title, `*` puts your text in italics and `**` puts it in bold.

![](img/gui_basic.png)

In [5]:
page_md = """
# Taipy

Test **here** to put some *markdown*

Click to access the [doc](https://docs.taipy.io/en/latest/)
"""

In [6]:
page = Markdown(page_md)

gui = Gui(page=page)
gui.run(dark_mode=False, port=6007)

 * Server starting on http://127.0.0.1:6007
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.

## Visual elements
Create different visual elements. The syntax is always the same for each visual element.  `<|{value}|name_of_visual_element|property_1=value_of_property_1|...|>`
- Create a [slider](https://docs.taipy.io/en/latest/manuals/gui/viselements/slider/) `<|{value}|slider|>`

- Create a [date](https://docs.taipy.io/en/latest/manuals/gui/viselements/date/) `<|{value}|date|>`

- Create a [selector](https://docs.taipy.io/en/latest/manuals/gui/viselements/selector/) `<|{value}|selector|lov={list_of_values}|>`

![](img/control.png)

In [7]:
slider_value = 0
date_value = None
selected_value = None

 * Debug mode: off

In [8]:
selector = ['Test 1', 'Test 2', 'Test 3']

control_md = """
## Controls

<|{slider_value}|slider|> <|{slider_value}|>

<|{date_value}|date|> <|{date_value}|>

<|{selected_value}|selector|lov={selector}|>  <|{selected_value}|>
"""

In [9]:
gui.stop()
page.set_content(control_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:6007
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## Data Viz

A dataset gathering information on the number of deaths, confirmed cases and recovered for different regions is going to be used to create an interactive Dashboard.

In [10]:
path_to_data = "data/covid-19-all.csv"
data = pd.read_csv(path_to_data, low_memory=False)
data[-5:]

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date
1241947,Vietnam,NaN,14.058324,108.277199,1465.0,1325.0,35.0,2020-12-31
1241948,West Bank and Gaza,NaN,31.952200,35.233200,138004.0,117183.0,1400.0,2020-12-31
1241949,Yemen,NaN,15.552727,48.516388,2099.0,1394.0,610.0,2020-12-31
1241950,Zambia,NaN,-13.133897,27.849332,20725.0,18660.0,388.0,2020-12-31
1241951,Zimbabwe,NaN,-19.015438,29.154857,13867.0,11250.0,363.0,2020-12-31

In [11]:
def initialize_case_evolution(data, selected_country='India'):
    # Aggregation of the dataframe per Country/Region
    data_country_date = data.groupby(["Country/Region",'Date'])\
                            .sum()\
                            .reset_index()
    
    # a country is selected, here India by default
    data_country_date = data_country_date.loc[data_country_date['Country/Region']==selected_country]
    return data_country_date

In [12]:
data_country_date = initialize_case_evolution(data)
data_country_date.head()

,Country/Region,Date,Latitude,Longitude,Confirmed,Recovered,Deaths
23021,India,2020-01-30,23.746783,78.96288,1.0,0.0,0.0
23022,India,2020-01-31,23.746783,78.96288,1.0,0.0,0.0
23023,India,2020-02-01,23.746783,78.96288,1.0,0.0,0.0
23024,India,2020-02-02,23.746783,78.96288,2.0,0.0,0.0
23025,India,2020-02-03,23.746783,78.96288,3.0,0.0,0.0

Create a [chart](https://docs.taipy.io/en/latest/manuals/gui/viselements/chart/) showing the evolution of Deaths in France (_Deaths_ for _y_ and _Date_ for _x_). The visual element (chart) has the same syntax as the other ones with specific properties (_x_, _y_, _type_ for example). Here are some [examples of charts](https://docs.taipy.io/en/release-1.1/manuals/gui/viselements/charts/bar/). The _x_ and _y_ porperties only needs the name of the dataframe columns to display.

![](img/simple_graph.png)

In [13]:
country_md = "<|{data_country_date}|chart|x=Date|y=Deaths|type=bar|>"

In [14]:
gui.stop()
page.set_content(country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:6007
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## Add new traces

- Add on the graph the number of Confirmed and Recovered cases (_Confirmed_ and _Recovered_) with the number of Deaths
- _y_ (and _x_) can be indexed this way to add more traces (`y[1]=`, `y[2]=`, `y[3]=`).

![](img/multi_traces.png)

In [15]:
country_md = "<|{data_country_date}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|>"

In [16]:
gui.stop()
page.set_content(country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:6007
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## Style the graph with personnalized properties
The _layout_ dictionnary specifies how bars should be displayed. They would be 'stacked'.

The _options_ dictionary will change the opacity of the unselected markers.

These are Plotly properties.

![](img/stack_chart.png)

In [17]:
layout = {'barmode':'stack'}
options = {"unselected":{"marker":{"opacity":0.5}}}
country_md = "<|{data_country_date}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|layout={layout}|options={options}|>"

In [18]:
gui.stop()
page.set_content(country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:6007
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production

## Add texts that sums up the data

Use the [text](https://docs.taipy.io/en/latest/manuals/gui/viselements/text/) visual element.

- Add the total number of Deaths (last line of _data_country_date_)
- Add the total number of Recovered (last line of _data_country_date_)
- Add the total number of Confirmed (last line of _data_country_date_)

In [19]:
data_country_date

   WARNING: This is a development server. Do not use it in a production deployment.

,Country/Region,Date,Latitude,Longitude,Confirmed,Recovered,Deaths
23021,India,2020-01-30,23.746783,78.962880,1.0,0.0,0.0
23022,India,2020-01-31,23.746783,78.962880,1.0,0.0,0.0
23023,India,2020-02-01,23.746783,78.962880,1.0,0.0,0.0
23024,India,2020-02-02,23.746783,78.962880,2.0,0.0,0.0
23025,India,2020-02-03,23.746783,78.962880,3.0,0.0,0.0
...,...,...,...,...,...,...,...
23353,India,2020-12-27,854.924665,3023.983447,10207871.0,9782669.0,147901.0
23354,India,2020-12-28,854.924665,3023.983447,10224303.0,9807569.0,148153.0
23355,India,2020-12-29,854.924665,3023.983447,10244852.0,9834141.0,148439.0
23356,India,2020-12-30,854.924665,3023.983447,10266674.0,9860280.0,148738.0
23357,India,2020-12-31,854.924665,3023.983447,10266674.0,9860280.0,148738.0

   Use a production WSGI server instead.
 * Debug mode: off

This is how we can get the total number of Deaths from the daatset for France.

In [20]:
data_country_date.iloc[-1, 6] # gives the number of deaths for France (5 is for recovered and 4 is confirmed)

148738.0

Use the [text](https://docs.taipy.io/en/release-1.1/manuals/gui/viselements/text/) visual element. Note that between `{}`, any Python variable can be put but also any Python code.

![](img/control_text.png)

In [21]:
country_md = """
## Deaths <|{data_country_date.iloc[-1, 6]}|text|>

## Recovered <|{data_country_date.iloc[-1, 5]}|text|>

## Confirmed <|{data_country_date.iloc[-1, 4]}|text|>

<|{data_country_date}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|layout={layout}|options={options}|>
"""

In [22]:
gui.stop()
page.set_content(country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:6007
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## Local _on_change_

- Add a [selector](https://docs.taipy.io/en/latest/manuals/gui/viselements/selector/) with `dropdown=True` containing the name of all the _Country/region_
- Give to the _on_change_ selector property the name of the _on_change_country_ function. This function will be called when the selector will be used.
- This function has a 'state' parameter and has to be completed. When the selector is used, this function is called with the _state_ argument. It contains all the Gui variables; 'state.data_country_date' is then the dataframe used in the Gui.

![](img/on_change_local.png)

In [23]:
selector_country = list(data['Country/Region'].astype(str).unique())
selected_country = 'France'

country_md = """
<|{selected_country}|selector|lov={selector_country}|on_change=on_change_country|dropdown|label=Country|>

## Deaths <|{data_country_date.iloc[-1, 6]}|>

## Recovered <|{data_country_date.iloc[-1, 5]}|>

## Confirmed <|{data_country_date.iloc[-1, 4]}|>

<|{data_country_date}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|layout={layout}|options={options}|>
"""

In [24]:
def on_change_country(state):
    # state contains all the Gui variables and this is through this state variable that we can update the Gui
    # state.selected_country, state.data_country_date, ...
    # update data_country_date with the right country (use initialize_case_evolution)
    print("Chosen country: ", state.selected_country)
    state.data_country_date = initialize_case_evolution(data, state.selected_country)

In [25]:
gui.stop()
page.set_content(country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:6007
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

## Layout

Use the [layout](https://docs.taipy.io/en/latest/manuals/gui/viselements/layout/) block to change the page structure. This block creates invisible columns to put text/visual elements in.

Syntax :
```
<|layout|columns=1 1 1 ...|
(first column)

(in second column)

(third column)
(again, third column)

(...)
|>
```

In [26]:
final_country_md = """
<|layout|columns=1 1 1 1|
<|{selected_country}|selector|lov={selector_country}|on_change=on_change_country|dropdown|label=Country|>

## Deaths <|{data_country_date.iloc[-1, 6]}|>

## Recovered <|{data_country_date.iloc[-1, 5]}|>

## Confirmed <|{data_country_date.iloc[-1, 4]}|>
|>

<|{data_country_date}|chart|type=bar|x=Date|y[1]=Deaths|y[2]=Recovered|y[3]=Confirmed|layout={layout}|options={options}|>
"""

In [27]:
gui.stop()
page.set_content(final_country_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:6007
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

![](img/layout.png)

# Map

In [28]:
def initialize_map(data):
    data['Province/State'] = data['Province/State'].fillna(data["Country/Region"])
    data_province = data.groupby(["Country/Region",
                                  'Province/State',
                                  'Longitude',
                                  'Latitude'])\
                         .max()

    data_province_displayed = data_province[data_province['Deaths']>10].reset_index()

    data_province_displayed['Size'] = np.sqrt(data_province_displayed.loc[:,'Deaths']/data_province_displayed.loc[:,'Deaths'].max())*80 + 3
    data_province_displayed['Text'] = data_province_displayed.loc[:,'Deaths'].astype(str) + ' deaths </br> ' + data_province_displayed.loc[:,'Province/State']
    return data_province_displayed

In [29]:
data_province_displayed = initialize_map(data)
data_province_displayed.head()

,Country/Region,Province/State,Longitude,Latitude,Confirmed,Recovered,Deaths,Date,Size,Text
0,Afghanistan,Afghanistan,67.709953,33.93911,51526.0,41727.0,2191.0,2020-12-31,17.771247,2191.0 deaths </br> Afghanistan
1,Albania,Albania,20.168300,41.15330,58316.0,33634.0,1181.0,2020-12-31,13.844784,1181.0 deaths </br> Albania
2,Algeria,Algeria,1.659600,28.03390,99610.0,67127.0,2756.0,2020-12-31,19.566684,2756.0 deaths </br> Algeria
3,Andorra,Andorra,1.521800,42.50630,8049.0,7432.0,84.0,2020-12-31,5.892249,84.0 deaths </br> Andorra
4,Angola,Angola,17.873900,-11.20270,17553.0,11044.0,405.0,2020-12-31,9.350728,405.0 deaths </br> Angola

Properties to style the map
- marker color corresponds to the number of Deaths (column _Deaths_)
- marker sizes corresponds to the size in _Size_ column which is created from the number of Deaths

layout_map permet defined the initial zoom and position of the map

In [30]:
marker_map = {"color":"Deaths", "size": "Size", "showscale":True, "colorscale":"Viridis"}
layout_map = {
            "dragmode": "zoom",
            "mapbox": { "style": "open-street-map", "center": { "lat": 38, "lon": -90 }, "zoom": 3}
            }

We give to Plotly:
- a map type
- the name of the latitude column
- the name of the longitude column
- properties: on the size and color of the markers
- the name of the column for the text of the points

In [31]:
map_md = """
<|{data_province_displayed}|chart|type=scattermapbox|selected={selected_points}|lat=Latitude|lon=Longitude|marker={marker_map}|layout={layout_map}|text=Text|mode=markers|height=800px|options={options}|>
"""

In [32]:
gui.stop()
page.set_content(map_md)
gui.run()

Gui server has been stopped

C:\Users\jacta\anaconda3\lib\site-packages\taipy\gui\gui.py:337: UserWarning: Decoding Message has failed: {'type': 'DU', 'name': '_TpD_tpec_TpExPr_data_country_date_TPMDL_0', 'payload': {'pagekey': 'Confirmed-Recovered-Deaths-Date', 'columns': ['Confirmed', 'Recovered', 'Deaths', 'Date'], 'alldata': True}, 'propagate': True, 'client_id': '20220905160039609838-0.24064301846456781', 'module_context': ''}
'types.SimpleNamespace' object has no attribute '_TpD_tpec_TpExPr_data_country_date_TPMDL_0'
  warnings.warn(f"Decoding Message has failed: {message}\n{e}")
C:\Users\jacta\anaconda3\lib\site-packages\taipy\gui\gui.py:337: UserWarning: Decoding Message has failed: {'type': 'RU', 'name': '', 'payload': {'names': ['_TpL_tpec_TpExPr_selector_country_TPMDL_0', '_TpLv_tpec_TpExPr_selected_country_TPMDL_0']}, 'propagate': True, 'client_id': '20220905160039609838-0.24064301846456781', 'module_context': ''}
'types.SimpleNamespace' object has no attribute '_TpL_tpec_TpExPr_selector_country_TPMDL_0'
  warnings.warn(f"Decoding Message has failed: {message}\n{e}")

 * Server starting on http://127.0.0.1:6007
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

![](img/carte.png)

# Part and the _render_ property
- Create a [toggle](https://docs.taipy.io/en/latest/manuals/gui/viselements/toggle/) (works the same as a selector) with a lov of 'Map' an 'Country'
- Create two part blocks that renders or not depending on the value of the toggle
    - To do this, use the fact that in the _render_ property of the part block, Python code can be inserted in `{}`

In [33]:
representation_selector = ['Map', 'Country']
selected_representation = representation_selector[0]

In [34]:
main_page = """
<|{selected_representation}|toggle|lov={representation_selector}|>

<|part|render={selected_representation == "Country"}|
"""+final_country_md+"""
|>

<|part|render={selected_representation == "Map"}|
"""+map_md+"""
|>
"""

In [35]:
gui.stop()
page.set_content(main_page)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:6007
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

![](img/part_render.png)

# Taipy Core
Here are the functions that we are going to use to predict the number of Deaths for a country.
We will:
- preprocess the data (_preprocess_),
- create a training and testing database (_make_train_test_data_),
- train a model (_train_model_),
- generate predictions (_forecast_),
- generate a dataframe with the historical data and the predictions (_result_)

![](img/all_architecture.svg)

In [36]:
def add_features(data):
    dates = pd.to_datetime(data["Date"])
    data["Months"] = dates.dt.month
    data["Days"] = dates.dt.isocalendar().day
    data["Week"] = dates.dt.isocalendar().week
    data["Day of week"] = dates.dt.dayofweek
    return data

def create_train_data(final_data, date):
    bool_index = pd.to_datetime(final_data['Date']) <= date
    train_data = final_data[bool_index]
    return train_data

def preprocess(initial_data, country, date):
    data = initial_data.groupby(["Country/Region",'Date'])\
                       .sum()\
                       .dropna()\
                       .reset_index()

    final_data = data.loc[data['Country/Region']==country].reset_index(drop=True)
    final_data = final_data[['Date','Deaths']]
    final_data = add_features(final_data)
    
    train_data = create_train_data(final_data, date)
    return final_data, train_data


def train_arima(train_data):
    model = auto_arima(train_data['Deaths'],
                       start_p=1, start_q=1,
                       max_p=5, max_q=5,
                       start_P=0, seasonal=False,
                       d=1, D=1, trace=True,
                       error_action='ignore',  
                       suppress_warnings=True)
    model.fit(train_data['Deaths'])
    return model


def forecast(model):
    predictions = model.predict(n_periods=60)
    return predictions


def result(final_data, predictions, date):
    dates = pd.to_datetime([date + dt.timedelta(days=i)
                            for i in range(len(predictions))])
    final_data['Date'] = pd.to_datetime(final_data['Date'])
    predictions = pd.concat([pd.Series(dates, name="Date"),
                             pd.Series(predictions, name="Predictions")], axis=1)
    return final_data.merge(predictions, on="Date", how="outer")

First we must define the Data Nodes then the tasks (associated to the Python function). Furthermore, we gather these tasks into different pipelines and these pipelines into a scenario.

A Data Nod needs a **unique id**. If needed, the storage type can be changed for CSV and SQL. Other parameters are then needed.

### Data Nodes and Task for preprocess

<img src="img/preprocess.svg" alt="drawing" width="500"/>

In [39]:
initial_data_cfg = Config.configure_data_node(id="initial_data",
                                              storage_type="csv",
                                              path=path_to_data,
                                              cacheable=True,
                                              validity_period=dt.timedelta(days=5),
                                              scope=Scope.GLOBAL)

country_cfg = Config.configure_data_node(id="country", default_data="India",
                                         cacheable=True, validity_period=dt.timedelta(days=5))


final_data_cfg =  Config.configure_data_node(id="final_data",
                                                  cacheable=True, validity_period=dt.timedelta(days=5))

date_cfg = Config.configure_data_node(id="date", default_data=dt.datetime(2020,10,10),
                                         cacheable=True, validity_period=dt.timedelta(days=5))

train_data_cfg =  Config.configure_data_node(id="train_data", cacheable=True, validity_period=dt.timedelta(days=5))


task_preprocess_cfg = Config.configure_task(id="task_preprocess_data",
                                           function=preprocess,
                                           input=[initial_data_cfg, country_cfg, date_cfg],
                                           output=[final_data_cfg,train_data_cfg])

### Data Nodes and Task for make_train_test_data

<img src="img/make_train_test_data.svg" alt="drawing" width="500"/>

### Data Nodes and Task for train_model

<img src="img/train_model.svg" alt="drawing" width="500"/>

In [40]:
model_cfg = Config.configure_data_node(id="model", cacheable=True, validity_period=dt.timedelta(days=5), scope=Scope.PIPELINE)

task_train_cfg = Config.configure_task(id="task_train",
                                      function=train_arima,
                                      input=train_data_cfg,
                                      output=model_cfg)

### Data Nodes and Task for forecast

<img src="img/forecast.svg" alt="drawing" width="500"/>

In [41]:
predictions_cfg = Config.configure_data_node(id="predictions", scope=Scope.PIPELINE)

task_forecast_cfg = Config.configure_task(id="task_forecast",
                                      function=forecast,
                                      input=model_cfg,
                                      output=predictions_cfg)

### Data Nodes and Task for result

<img src="img/result.svg" alt="drawing" width="500"/>

In [42]:
result_cfg = Config.configure_data_node(id="result", scope=Scope.PIPELINE)

task_result_cfg = Config.configure_task(id="task_result",
                                      function=result,
                                      input=[final_data_cfg, predictions_cfg, date_cfg],
                                      output=result_cfg)

## [Configuration of pipelines](https://docs.taipy.io/en/release-1.1/manuals/reference/taipy.Config/#taipy.core.config.config.Config.configure_default_pipeline)

In [43]:
pipeline_preprocessing_cfg = Config.configure_pipeline(id="pipeline_preprocessing",
                                                       task_configs=[task_preprocess_cfg])

pipeline_arima_cfg = Config.configure_pipeline(id="ARIMA",
                                               task_configs=[task_train_cfg, task_forecast_cfg, task_result_cfg])

## Add more models

In [44]:
def train_linear_regression(train_data):    
    y = train_data['Deaths']
    X = train_data.drop(['Deaths','Date'], axis=1)
    
    model = LinearRegression()
    model.fit(X,y)
    return model

def forecast_linear_regression(model, date):
    dates = pd.to_datetime([date + dt.timedelta(days=i)
                            for i in range(60)])
    X = add_features(pd.DataFrame({"Date":dates}))
    X.drop('Date', axis=1, inplace=True)
    predictions = model.predict(X)
    return predictions


task_train_cfg = Config.configure_task(id="task_train",
                                      function=train_linear_regression,
                                      input=train_data_cfg,
                                      output=model_cfg)

task_forecast_cfg = Config.configure_task(id="task_forecast",
                                      function=forecast_linear_regression,
                                      input=[model_cfg, date_cfg],
                                      output=predictions_cfg)

pipeline_random_forest_cfg = Config.configure_pipeline(id="LinearRegression",
                                               task_configs=[task_train_cfg, task_forecast_cfg, task_result_cfg])

## [Configuration of scénario](https://docs.taipy.io/en/release-1.1/manuals/reference/taipy.Config/#taipy.core.config.config.Config.configure_default_scenario)

In [45]:
scenario_cfg = Config.configure_scenario(id='scenario', pipeline_configs=[pipeline_preprocessing_cfg,
                                                                          pipeline_arima_cfg,
                                                                          pipeline_random_forest_cfg])

## Creation and submit of scenario

In [46]:
scenario = tp.create_scenario(scenario_cfg, name='First Scenario')
tp.submit(scenario)

C:\Users\jacta\anaconda3\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

[2022-09-05 17:40:23,925][Taipy][INFO] job JOB_task_preprocess_data_da55f51c-7846-4b22-af14-d11d745b215e is completed.
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=3403.257, Time=0.23 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=3834.545, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=3555.070, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=3711.502, Time=0.06 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=3992.428, Time=0.00 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=3395.911, Time=0.26 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=3469.260, Time=0.04 sec
 ARIMA(3,1,1)(0,0,0)[0] intercept   : AIC=3398.020, Time=0.34 sec
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=3395.925, Time=0.34 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=3395.219, Time=0.26 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=3639.930, Time=0.10 sec
 ARIMA(1,1,3)(0,0,0)[0] intercept   : AIC=3397.036, Time=0.36 sec
 ARIMA(0,1,3)(0,0,0)[0] intercept   : AIC=3595.496, Time=0.13 sec
 ARIMA(2,1,3)(0,0,0)[0] intercept   : AIC=inf, Time=0.41 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=3394.362, Time=0.17 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=3726.468, Time=0.13 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=3402.072, Time=0.10 sec
 ARIMA(2,1,2)(0,0,0)[0]             : AIC=inf, Time=0.24 sec
 ARIMA(1,1,3)(0,0,0)[0]             : AIC=3396.195, Time=0.23 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=3820.542, Time=0.04 sec
 ARIMA(0,1,3)(0,0,0)[0]             : AIC=3665.462, Time=0.13 sec
 ARIMA(2,1,1)(0,0,0)[0]             : AIC=3394.738, Time=0.17 sec
 ARIMA(2,1,3)(0,0,0)[0]             : AIC=3396.752, Time=0.27 sec

Best model:  ARIMA(1,1,2)(0,0,0)[0]
Total fit time: 4.036 seconds
[2022-09-05 17:40:28,206][Taipy][INFO] job JOB_task_train_1e2dbf41-fd25-4565-872d-9cfc48e2b05f is completed.
[2022-09-05 17:40:28,290][Taipy][INFO] job JOB_task_forecast_4dcd1207-8f59-4c0a-a569-2b5672ec02b2 is completed.
[2022-09-05 17:40:28,400][Taipy][INFO] job JOB_task_result_4bf7bf2f-dad4-44bb-950f-74830b4e550c is completed.
[2022-09-05 17:40:28,484][Taipy][INFO] job JOB_task_train_933e2bc1-6386-4d02-bb9d-51d41225393d is completed.
[2022-09-05 17:40:28,573][Taipy][INFO] job JOB_task_forecast_4e5c290c-13d2-4c52-9644-6a91ae1eda3a is completed.
[2022-09-05 17:40:28,675][Taipy][INFO] job JOB_task_result_4b4aa01e-d07c-41cb-994e-014c91cd510b is completed.

In [47]:
scenario.initial_data.read()

C:\Users\jacta\anaconda3\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date
0,NaN,NaN,NaN,NaN,51526.0,41727.0,2191.0,2021-01-01
1,NaN,NaN,NaN,NaN,58316.0,33634.0,1181.0,2021-01-01
2,NaN,NaN,NaN,NaN,99897.0,67395.0,2762.0,2021-01-01
3,NaN,NaN,NaN,NaN,8117.0,7463.0,84.0,2021-01-01
4,NaN,NaN,NaN,NaN,17568.0,11146.0,405.0,2021-01-01
...,...,...,...,...,...,...,...,...
1241947,Vietnam,NaN,14.058324,108.277199,1465.0,1325.0,35.0,2020-12-31
1241948,West Bank and Gaza,NaN,31.952200,35.233200,138004.0,117183.0,1400.0,2020-12-31
1241949,Yemen,NaN,15.552727,48.516388,2099.0,1394.0,610.0,2020-12-31
1241950,Zambia,NaN,-13.133897,27.849332,20725.0,18660.0,388.0,2020-12-31
1241951,Zimbabwe,NaN,-19.015438,29.154857,13867.0,11250.0,363.0,2020-12-31

In [48]:
scenario.train_data.read()

           Date    Deaths  Months  Days  Week  Day of week
0    2020-01-30       0.0       1     4     5            3
1    2020-01-31       0.0       1     5     5            4
2    2020-02-01       0.0       2     6     5            5
3    2020-02-02       0.0       2     7     5            6
4    2020-02-03       0.0       2     1     6            0
..          ...       ...     ...   ...   ...          ...
250  2020-10-06  104555.0      10     2    41            1
251  2020-10-07  105526.0      10     3    41            2
252  2020-10-08  106490.0      10     4    41            3
253  2020-10-09  107416.0      10     5    41            4
254  2020-10-10  108334.0      10     6    41            5

[255 rows x 6 columns]

In [49]:
scenario.ARIMA.predictions.read()

array([109313.30106717, 110278.58255586, 111243.83576064, 112209.06068233,
       113174.25732175, 114139.42567975, 115104.56575714, 116069.67755476,
       117034.76107343, 117999.81631398, 118964.84327725, 119929.84196406,
       120894.81237523, 121859.75451161, 122824.66837401, 123789.55396326,
       124754.4112802 , 125719.24032564, 126684.04110043, 127648.81360538,
       128613.55784133, 129578.27380911, 130542.96150953, 131507.62094344,
       132472.25211166, 133436.85501502, 134401.42965434, 135365.97603045,
       136330.49414419, 137294.98399638, 138259.44558784, 139223.87891941,
       140188.28399192, 141152.66080619, 142117.00936305, 143081.32966332,
       144045.62170785, 145009.88549744, 145974.12103294, 146938.32831517,
       147902.50734496, 148866.65812313, 149830.78065052, 150794.87492795,
       151758.94095624, 152722.97873624, 153686.98826876, 154650.96955463,
       155614.92259468, 156578.84738974, 157542.74394063, 158506.61224818,
       159470.45231323, 160434.26413659, 161398.0477191 , 162361.80306158,
       163325.53016487, 164289.22902977, 165252.89965714, 166216.54204779])

## Caching
Some job are skipped because no change has been done to the "input" Data Nodes.

In [50]:
tp.submit(scenario)

[2022-09-05 17:40:29,697][Taipy][INFO] job JOB_task_preprocess_data_1645e6f2-1a5e-4ab7-ae63-a9ef00651727 is skipped.
[2022-09-05 17:40:29,781][Taipy][INFO] job JOB_task_train_dc1e852c-7c97-4cf5-84bb-113aba75cfbc is skipped.
[2022-09-05 17:40:29,873][Taipy][INFO] job JOB_task_forecast_87298c86-d06a-4400-90bd-e1648ec499b4 is completed.
[2022-09-05 17:40:29,976][Taipy][INFO] job JOB_task_result_654ad6c3-f127-46bf-98f3-fccf53cf8cac is completed.
[2022-09-05 17:40:30,054][Taipy][INFO] job JOB_task_train_e75a2304-fa99-4df3-a056-dcee3f32db54 is skipped.
[2022-09-05 17:40:30,148][Taipy][INFO] job JOB_task_forecast_3cfc8a46-12e4-42c3-8007-9c2827445c97 is completed.
[2022-09-05 17:40:30,254][Taipy][INFO] job JOB_task_result_adc4e1b6-acdc-4362-941f-d2fca4fde460 is completed.

## Write in data nodes

To write a data node:

`<Data Node>.write(new_value)`

In [51]:
scenario.country.write('US')
tp.submit(scenario)
scenario.result.read()

C:\Users\jacta\anaconda3\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

[2022-09-05 17:40:31,307][Taipy][INFO] job JOB_task_preprocess_data_1f2bfc99-4785-4f57-a94a-dfae78c7097a is completed.
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=3864.276, Time=0.02 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=4187.713, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=3862.617, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=4017.317, Time=0.05 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=4407.771, Time=0.01 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=3864.226, Time=0.02 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=3866.190, Time=0.07 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=3873.251, Time=0.01 sec

Best model:  ARIMA(1,1,0)(0,0,0)[0] intercept
Total fit time: 0.214 seconds
[2022-09-05 17:40:31,635][Taipy][INFO] job JOB_task_train_0330b1ba-5593-48a9-820b-e1215479f3cb is completed.
[2022-09-05 17:40:31,721][Taipy][INFO] job JOB_task_forecast_5b424de1-1298-4d36-a5e5-2ff62325b7b1 is completed.
[2022-09-05 17:40:31,823][Taipy][INFO] job JOB_task_result_c7e58629-da21-44f5-90aa-96d52eaf45ef is completed.
[2022-09-05 17:40:31,904][Taipy][INFO] job JOB_task_train_eaecf4f1-6354-4068-b8a5-9487e0b73386 is completed.
[2022-09-05 17:40:31,990][Taipy][INFO] job JOB_task_forecast_1baa2b95-3994-4057-9fc6-f38f48ed7da2 is completed.
[2022-09-05 17:40:32,079][Taipy][INFO] job JOB_task_result_7ceaa698-80cd-420c-9f82-f39667856271 is completed.

          Date    Deaths  Months  Days  Week  Day of week  Predictions
0   2020-01-22       0.0       1     3     4            2          NaN
1   2020-01-23       0.0       1     4     4            3          NaN
2   2020-01-24       0.0       1     5     4            4          NaN
3   2020-01-25       0.0       1     6     4            5          NaN
4   2020-01-26       0.0       1     7     4            6          NaN
..         ...       ...     ...   ...   ...          ...          ...
340 2020-12-27  334533.0      12     7    52            6          NaN
341 2020-12-28  336438.0      12     1    53            0          NaN
342 2020-12-29  340061.0      12     2    53            1          NaN
343 2020-12-30  343783.0      12     3    53            2          NaN
344 2020-12-31  347170.0      12     4    53            3          NaN

[345 rows x 7 columns]

## Simple framework

In [52]:
scenario = tp.create_scenario(scenario_cfg, name='Second Scenario')
tp.submit(scenario)

C:\Users\jacta\anaconda3\lib\site-packages\taipy\core\data\csv.py:145: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self._path)

[2022-09-05 17:40:33,613][Taipy][INFO] job JOB_task_preprocess_data_8418c1dc-b38b-48ae-af65-40f8448f25ce is completed.
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=3403.257, Time=0.21 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=3834.545, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=3555.070, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=3711.502, Time=0.06 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=3992.428, Time=0.00 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=3395.911, Time=0.22 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=3469.260, Time=0.03 sec
 ARIMA(3,1,1)(0,0,0)[0] intercept   : AIC=3398.020, Time=0.32 sec
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=3395.925, Time=0.31 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=3395.219, Time=0.25 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=3639.930, Time=0.08 sec
 ARIMA(1,1,3)(0,0,0)[0] intercept   : AIC=3397.036, Time=0.30 sec
 ARIMA(0,1,3)(0,0,0)[0] intercept   : AIC=3595.496, Time=0.12 sec
 ARIMA(2,1,3)(0,0,0)[0] intercept   : AIC=inf, Time=0.50 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=3394.362, Time=0.11 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=3726.468, Time=0.07 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=3402.072, Time=0.09 sec
 ARIMA(2,1,2)(0,0,0)[0]             : AIC=inf, Time=0.25 sec
 ARIMA(1,1,3)(0,0,0)[0]             : AIC=3396.195, Time=0.22 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=3820.542, Time=0.04 sec
 ARIMA(0,1,3)(0,0,0)[0]             : AIC=3665.462, Time=0.11 sec
 ARIMA(2,1,1)(0,0,0)[0]             : AIC=3394.738, Time=0.14 sec
 ARIMA(2,1,3)(0,0,0)[0]             : AIC=3396.752, Time=0.26 sec

Best model:  ARIMA(1,1,2)(0,0,0)[0]
Total fit time: 3.741 seconds
[2022-09-05 17:40:37,558][Taipy][INFO] job JOB_task_train_72f771ba-dd46-47dd-afd5-428dac883ac2 is completed.
[2022-09-05 17:40:37,647][Taipy][INFO] job JOB_task_forecast_7e8fb8ea-e2fd-4d40-923e-05efff5969f5 is completed.
[2022-09-05 17:40:37,741][Taipy][INFO] job JOB_task_result_5047e66a-9652-425e-9d39-035067d07895 is completed.
[2022-09-05 17:40:37,836][Taipy][INFO] job JOB_task_train_91d2cb0d-d7c8-4110-a92f-a9319ef5a482 is completed.
[2022-09-05 17:40:37,925][Taipy][INFO] job JOB_task_forecast_fd85df3a-da42-42de-9c92-358e99aca227 is completed.
[2022-09-05 17:40:38,017][Taipy][INFO] job JOB_task_result_db91ced7-ddf6-454e-ac70-203ebc011b9f is completed.

In [53]:
scenario.pipelines['ARIMA'].model.read()

ARIMA(order=(1, 1, 2), scoring_args={}, suppress_warnings=True,
      with_intercept=False)

In [54]:
scenario.pipelines['LinearRegression'].model.read()

LinearRegression()

## Create a Gui for the backend
_scenario_selector_ lets you choose a scenario and display its results.

In [55]:
scenario_selector = [(s.id, s.name) for s in tp.get_scenarios()]
selected_scenario = scenario.id
print(scenario_selector,'\n', selected_scenario)

[('SCENARIO_scenario_7ced395e-f390-4041-936e-babef85033b7', 'Second Scenario'), ('SCENARIO_scenario_ccacb2f7-085b-4c52-adaf-301def87acd4', 'First Scenario'), ('SCENARIO_scenario_e773f0cc-295c-4efb-8a14-b716ea960c5b', 'Second Scenario'), ('SCENARIO_scenario_ef9f94f2-0c56-446e-b6a9-e52325d7f11b', 'First Scenario')]
 SCENARIO_scenario_7ced395e-f390-4041-936e-babef85033b7

In [56]:
result_arima = scenario.pipelines['ARIMA'].result.read()
result_rd = scenario.pipelines['LinearRegression'].result.read()
result = result_rd.merge(result_arima, on="Date", how="outer").sort_values(by='Date')
result

,Date,Deaths_x,Months_x,Days_x,Week_x,Day of week_x,Predictions_x,Deaths_y,Months_y,Days_y,Week_y,Day of week_y,Predictions_y
0,2020-01-30,0.0,1,4,5,3,NaN,0.0,1,4,5,3,NaN
1,2020-01-31,0.0,1,5,5,4,NaN,0.0,1,5,5,4,NaN
2,2020-02-01,0.0,2,6,5,5,NaN,0.0,2,6,5,5,NaN
3,2020-02-02,0.0,2,7,5,6,NaN,0.0,2,7,5,6,NaN
4,2020-02-03,0.0,2,1,6,0,NaN,0.0,2,1,6,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,2020-12-27,147901.0,12,7,52,6,NaN,147901.0,12,7,52,6,NaN
333,2020-12-28,148153.0,12,1,53,0,NaN,148153.0,12,1,53,0,NaN
334,2020-12-29,148439.0,12,2,53,1,NaN,148439.0,12,2,53,1,NaN
335,2020-12-30,148738.0,12,3,53,2,NaN,148738.0,12,3,53,2,NaN
336,2020-12-31,148738.0,12,4,53,3,NaN,148738.0,12,4,53,3,NaN

**Tips** : the _value_by_id_ property if set to True for a selected will make _selected_scenario_ directly refer to the first element of the tupple (here the id)

![](img/predictions.png)

In [57]:
prediction_md = """
<|layout|columns=1 2 5 1 3|
<|{scenario_name}|input|label=Name|>

<br/>
<|Create|button|on_action=create_new_scenario|>

Prediction date
<|{first_date}|date|>

<|{selected_country}|selector|lov={selector_country}|dropdown|on_change=on_change_country|label=Country|>

<br/>
<|Submit|button|on_action=submit_scenario|>

<|{selected_scenario}|selector|lov={scenario_selector}|on_change=actualize_graph|dropdown|value_by_id|label=Scenario|>
|>

<|{result}|chart|x=Date|y[1]=Deaths_x|type[1]=bar|y[2]=Predictions_x|y[3]=Predictions_y|>
"""

In [58]:
def create_new_scenario(state):
    scenario = tp.create_scenario(scenario_cfg, name=state.scenario_name)
    state.scenario_selector += [(scenario.id, scenario.name)]

In [59]:
def actualize_graph(state):
    # 1) update the result dataframe
    # 2) change selected_country with the predicted country of the scenario
    scenario = tp.get(state.selected_scenario)
    result_arima = scenario.pipelines['ARIMA'].result.read()
    result_rd = scenario.pipelines['LinearRegression'].result.read()
    state.result = result_rd.merge(result_arima, on="Date", how="outer").sort_values(by='Date')
    state.selected_country = scenario.country.read()

In [60]:
def submit_scenario(state):
    # 1) get the selected scenario
    # 2) write in country Data Node, the selected country
    # 3) submit the scenario
    # 4) actualize le graph avec actualize_graph
    scenario = tp.get(state.selected_scenario)
    scenario.country.write(state.selected_country)
    scenario.date.write(state.first_date.replace(tzinfo=None))
    tp.submit(scenario)
    actualize_graph(state)

In [61]:
gui.stop()
page.set_content(prediction_md)
gui.run()

Gui server has been stopped
 * Server starting on http://127.0.0.1:6007
 * Serving Flask app 'Taipy' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

# Multi-pages and Taipy Rest

To create a multi-pages app, we only need a dictionary with names as the keys and the Markdowns as the values.

The _navbar_ control (<|navbar|>) has a default behaviour. It redirects to the different pages of the app automatically. Other solutions exists.

![](img/multi_pages.png)

In [62]:
navbar_md = "<center>\n<|navbar|>\n</center>"

pages = {
    "Map":navbar_md+map_md,
    "Country":navbar_md+final_country_md,
    "Predictions":navbar_md+prediction_md
}

rest = tp.Rest()

gui_multi_pages = Gui(pages=pages)
tp.run(gui_multi_pages, rest, dark_mode=False, port=5006)

 * Server starting on http://127.0.0.1:5006
 * Serving Flask app 'taipy.rest.app' (lazy loading)
 * Environment: None
 * Debug mode: off